[2020-02-17 14:31] jbelien opened #2 "Set `name` if there is no `name:fr`/`name:nl` in streets listing"
At the moment, the columns "nom de rue" (`name:fr`) and "straatnaam" (`name:nl`) are empty in the streets listing CSV file if there is no `name:fr` and `name:nl`.
In this case, put the `name` in those fields !

[2020-02-20 08:56] jbelien opened #3 "Use Wikidata JSONDumpReader"
In [`extractWikidata()` function](https://github.com/geo6/equalstreetnames/blob/master/scripts/geojson.php#L219), use [JsonDumpReader](https://github.com/JeroenDeDauw/JsonDumpReader) and [WikibaseDataModelSerialization](https://github.com/wmde/WikibaseDataModelSerialization) !

See <https://www.mediawiki.org/wiki/Wikibase/DataModel/JSON>

[2020-02-21 12:21] jbelien commented on #3
Or use https://github.com/pietercolpaert/hardf to read RDF (`text/turtle`)

[2020-02-28 15:41] jbelien opened #5 "Localized map"
There is a [Mapbox plugin](https://github.com/mapbox/mapbox-gl-language) to have a map that displays labels in a specific language.
Unfortunately, it doesn't support NL at the moment (see [documentation](https://docs.mapbox.com/vector-tiles/reference/mapbox-streets-v7/#name-fields)).

(it also doesn't support `dark-v10` at the moment, only `dark-v9` - see [documentation](https://github.com/mapbox/

[2020-03-03 09:13] jbelien opened #6 "Make Fathom token an env variable"
Title is self explanatory!

[2020-03-03 09:45] joostschouppe opened #7 "Document data refresh frequency"
I think this document https://github.com/openknowledgebe/equalstreetnames/tree/master/static#readme could use a sentence explaining how often the data is refreshed (automitc/manual)

cc @grischard

[2020-03-03 10:11] jbelien commented on #7
Indeed! I'll add that!

[2020-03-03 10:30] jbelien opened #9 "Check for Place Marie Janson"
"Place Marie Janson" (https://www.openstreetmap.org/relation/5952586) is not in the dataset.
Check why and fix it !

[2020-03-03 14:26] jbelien opened #10 "Rue de Wynants is a man, Pierre-Goswin de Wynants (1660-1732)"
From @grischard

[2020-03-03 19:44] #6 closed

[2020-03-03 20:08] 1ec5 commented on #5
Unfortunately the [Mapbox Streets source](https://docs.mapbox.com/vector-tiles/reference/mapbox-streets-v8/#name-fields) doesn’t have a dedicated Dutch field either, so it’s only possible for GL JS to show streets in the local language, French, or English. 😕

[2020-03-03 20:10] #9 closed

[2020-03-03 20:11] #10 closed

[2020-03-03 20:38] jbelien commented on #5
Thanks a lot for the feedback @1ec5 !

[2020-03-03 20:42] jbelien commented on #5
Meanwhile I discovered that base maps from @maptiler are available in FR and NL (and are more up-to-date) so it's maybe best just to switch to those base maps (see https://www.maptiler.com/cloud/)

[2020-03-05 10:08] xivk opened #12 "Use routeable tiles"
We have built this last year:

https://github.com/openplannerteam/routable-tiles

It publishes the entire OSM road network as JSON-LD, once we have this updating continuously it could be used to make this map:

- update live
- globally available

[2020-03-05 10:13] jbelien commented on #12
Ah Oh ! I guess it would indeed improve the performance tremendously !

But I don't really see on how to include this in the current process.
Are those tiles hosted somewhere already ?
How can I add information (gender/wikidata) on the road network from those tiles ?

[2020-03-05 10:17] xivk commented on #12
This is an example:

https://tiles.openplanner.team/planet/14/8449/5558/

They are not there now but we could include the wikidata tags (it would make a lot of sense to do that) and then you could lookup the data from wikidata and show the streets in the correct way.

[2020-03-05 10:18] xivk commented on #12
Actually I think the wikidata tags would be there, except that the data hosted now is out of data (somewhere beginning of 2019).

[2020-03-05 10:20] xivk commented on #12
This tile for example has the wikidata tags:

https://tiles.openplanner.team/planet/14/8392/5496/

[2020-03-05 10:38] jbelien commented on #12
That's most definitely a good idea but will require quite some work :P

[2020-03-05 10:39] xivk commented on #12
Yes yes, not saying this should be the focus, it could be a long/mid term thing if ever.

[2020-03-09 10:30] rory opened #13 "“Transgender” is not a gender"
I've raised this on the IRC channel, but a github issue to track it is helpful. So here we go. 🙂

The current code & website splits humans into 3 categories: “male”, “female” ... and “transgender”. 🤦 Transgender is not a gender.

My suggestion is to have 2 axes of categoriesation: “Male”/“Female”/”Other”, and “Cis”/“Trans”. And all “Other” would automatically be in “Trans” category. So someone cou

[2020-03-09 10:45] rory opened #14 "Add a Code of Conduct?"
Hi all. Many projects now-a-days have a Code of Conduct. It's good to write that down before anything happens, when a project, like this, is young. There isn't one written down yet. So I suggest one be added? What do yous (the admins) think?

I suggest the [diversity-talk OSM mailing list CoC](https://wiki.openstreetmap.org/wiki/Diversity/MailingList/CodeOfConduct).

[2020-03-09 11:36] jbelien commented on #14
Hello @rory ,

It's indeed a good idea to add a Code of Conduct !
Thanks for the suggested CoC, I'll forward it to the person coordinating the project!

[2020-03-09 11:42] jbelien commented on #13
Hello @rory,
Thanks for your feedback !

We don't state that there is only 3 genders (man/woman/transgender), we state that there are xx streets based on man, xx streets based on woman, and xx streets based on transgender (man or woman)!
The whole point of this project is to highlight the imbalance between the streetnames based on men, women, transgender men, and transgender women !

I get your po

[2020-03-09 13:08] rory commented on #13
“(wo)man” includes “trans (wo)man”, so you'd have to count people twice.

I know 2 axes might be more fractionally complicated, but in the end, as you point out, the end result is 4 categories. I know you didn't _say_ there were only 3 genders (& one of which is trans), but your software splits thing that way. 😉 Software is hard. 🙂 I get that.

If you want to simplify every further, 2 categories/c

[2020-03-11 10:31] Manonbd commented on #13
Hi Rory,
Manon here, who's be working on this project. I'm really sorry for making the mistake as I know that transgender is not a gender. We wanted to emphasize the fact that there's also a lack of representativity of transgender men & women in Brussels so that's why we didn't put it in the main category.

So you would do one category of "Cis Male" and one of "Not Cis Male" is that correct?

[2020-03-11 10:33] rory commented on #13
If it was me, I'd have 2 axes:

“cis male” vs “not cis male” is a simplication you could use if you only wanted 1 axis.

[2020-03-11 11:49] jbelien commented on #13
But then women, transgender women, and transgender men are all in one single "category" : "not cis male".

[2020-03-11 12:00] jbelien commented on #13
@rory I like the 2 axis but how would you render it on the map ?

[2020-03-11 12:26] rory commented on #13
transgender women _are_ women. Do you mean cis women? Remember “cis men”/“not cis men” isn't my number one suggestion. Yes it lumps people in, but let's be honest. the imbalance in names towards cis men is what you want to highlight, right?

My suggested categorization results in 5 options: “cis men”, “cis women”, ”nonbinary people” (gender=other (which implies trans)), “trans men”, “trans women”.

[2020-03-11 13:46] jbelien commented on #13
Sorry, I indeed meant cis women (instead of women).

[2020-03-17 15:24] rory commented on #13
I have attempted to make some wikidata changes to turn “male” → “cis[gender] male” ([#](https://www.wikidata.org/w/index.php?title=Q12967&diff=prev&oldid=1131253668) [#](https://www.wikidata.org/w/index.php?title=Q12971&diff=prev&oldid=1131253758) [#](https://www.wikidata.org/w/index.php?title=Q12973&diff=prev&oldid=1131253954) [#](https://www.wikidata.org/w/index.php?title=Q12973&diff=prev&oldid=

[2020-03-27 18:14] #13 closed

[2020-03-27 18:17] jbelien commented on #13
@rory I believe the last update fix this issue and do not "misgender" anyone anymore :)

[2020-03-28 08:56] rory commented on #13
Cool. Using “cis” is a good choice, but I'd recommend using “trans” instead of “transgender” for consistancy.

[2020-03-28 09:08] rory commented on #13
I think [the code to detect gender](https://github.com/openknowledgebe/equalstreetnames/blob/0fc8c56c33d0cea58fb545f5926110b127ac2503/scripts/geojson.php#L333-L347) has some issues. You are currently interpreting all “male” values ([`Q6581097`](https://www.wikidata.org/wiki/Q6581097)) as cis male, but cis male in wikidata is a different value: (`Q15145778`)](https://www.wikidata.org/wiki/Q15145778

[2020-03-28 09:10] rory commented on #13
You are using the trans icon for the one (trans) male person, instead of the male icon. I suggest using the male icon for men.

You could add a “Female (trans): 0” as consistency in the display

[2020-03-28 10:03] jbelien commented on #13
Done! :)

Thanks, I added (just in case) cis male and cis female wikidata item to my code.
As you said, all cis male/female are indeed categorized as male (`Q6581097`) or female (`Q6581072`). I know this is not "accurate" but that's how Wikidata decided to work and since we are using Wikidata, we have to go along.

If you know another source that we could use, let us know!

Not sure everyone knows

[2020-03-29 13:45] rory commented on #13
You don't *have* to use Wikidata. 😉 “Our datasource is biased, so we're replicating that bias” isn't a great argument to use.

You could just use OpenStreetMap? `name:etymology:gender=male/female/...`, `name:etymology:trans_or_cis=cis` _(I am unhappy with that subkey, maybe there's a better name)_ Or fork wikidata?

I know. 🙂 And that's understandable. If you're going to do something with gender i

[2020-03-29 16:42] realityfabric opened #16 "Map is empty when running locally"
After following the instructions to run the map locally (using https to download the repo instead of the git protocol, due to an authentication error) the map is empty and no statistics are shown.

![screenshot of EqualStreetNames web page where the map is completely gray and no stats are displayed](https://user-images.githubusercontent.com/8910652/77854800-3b7de080-71a1-11ea-97cf-42db81d51a95.png

[2020-03-29 17:15] jbelien commented on #16
Oh yes indeed, it is probably the Mapbox token that is missing !
I'll update the documentation tonight !
Thanks !

[2020-03-29 17:30] #16 closed

[2020-03-29 17:31] jbelien commented on #16
I added the missing step ; see https://github.com/openknowledgebe/equalstreetnames#run-locally

[2020-03-30 15:56] realityfabric commented on #16
Thanks! I'm not familiar with .env files and you have .env in your .gitignore, where should this .env file be placed? This is a really cool project btw

[2020-03-30 16:05] jbelien commented on #16
Your `.env` should be in the root folder (next to `package.json` for instance).
It should look like this:

[code]

Thanks! ☺️

[2020-03-30 16:41] realityfabric commented on #16
I put a file named `.env` in the root directory of the project, added `MAPBOX_TOKEN=[token]` but that didn't work until I added `require(dotenv).config()` in resources/map.ts (which threw some errors, but now the map works on the client side lol, definitely not the best solution)

After my tinkering it seems like the `.env` file isn't getting parsed at all (before adding the config code).

[2020-03-30 17:06] jbelien commented on #16
I don't know what your environment is but `require('dotenv').config();` is not required.
ParcelJS do already use `dotenv` internally : https://parceljs.org/env.html

It works fine here on Ubuntu or Debian.

I suggest you remove ParcelJS cache by deleting the `.cache` folder and try to run it again !

[2020-04-04 16:33] realityfabric commented on #16
Sorry that it took so long to respond!

I'm running Manjaro. I decided to start from scratch and put the `.env` file in before running it for the first time and it worked! It probably was the `.cache` folder like you said.

Thanks!

[2020-04-13 06:09] jbelien opened #20 "EqualStreetNames accross the World"
| Country | City | Link | Data Repository | Maintainer |
|-|-|-|-|-|
| 🇧🇪 | Brugge | - | [equalstreetnames-brugge](https://github.com/openknowledgebe/equalstreetnames-brugge) | @jbelien |
| 🇧🇪 | Brussels | https://equalstreetnames.brussels/ | [equalstreetnames-brussels](https://github.com/openknowledgebe/equalstreetnames-brussels) | @jbelien |
| 🇧🇪 | Gent | - | [equalstreetnames-gent](https://gith

[2020-04-13 06:10] jbelien commented on #20
Should we bundle all the versions in one single repository ?

[2020-04-14 21:51] stalker314314 commented on #20
You can see my changes here: https://github.com/stalker314314/equalstreetnames split into 3 different buckets (pipeline, web and data changes). They are not big, but also not easily abstracted away. I can understand how pipeline changes can be abstracted - have come config file that can define your overpass query and languages of interest.

For web, since I am not good with web, I have no idea how

[2020-04-15 05:41] jbelien commented on #20
I never played with Git submodules but I think having a submodule by "region" (city, ...) could indeed be a good solution for this !
I'll try to move everything related to Brussels (in our case) to a submodule and see how it goes !

Stay tuned 🎉

[2020-04-20 13:14] stalker314314 opened #25 "Show progress while ways.geojson is loaded"
We are 50% done with Belgrade and produced ways.geojson is 11MB, and quite noticeable delay is viislbe before this is loaded. Since .geojson is pretty much as compact as-is, one option is to trim null values, but I doubt it will lead to any noticable changes in size. I think what is proper solution is to show some progress (determinate progress bar, or even indeterminate) while ways.geojson is bei

[2020-04-21 22:46] stalker314314 commented on #25
I would gladly send you PR, but my fork is far different than what I anticipated when I started working on it, so here is regular unified diff: https://upload.disroot.org/r/sSttfx6Z#526RHQ+S5AR5DlakM/9oy7giYuenwliGI/ySV30nt6c=

I just used spin.js to show something to user. There are probably better ways (can we keep zip on server and download/unpack in browser). This thing reacts only when ways a

[2020-04-22 06:40] jbelien commented on #25
Nice ! I'll have a look :)

[2020-04-22 06:59] jbelien commented on #25
I would indeed recommend to use gzip encoding on your file(s) !
I don't know what web-server you're using but you can easily setup gzip encoding server side.
Look at <https://equalstreetnames.brussels/>:

- `relations.geojson` is 4.02 Mo but only 699.97 Ko are sent to the client ;
- `ways.geojson` is 3.28 Mo but only 721.78 KO are sent to the client ;

If you're using Apache : https://httpd.apache

[2020-04-22 15:56] stalker314314 commented on #25
I added this patch on Belgrade version - check it. We will continue to use it (it is not great, but I have no other option). I would argue that it is easy to misconfigure server (or overlook this setting) when deploying this code and it just pushes the can futher down the road. Belgrade will grow even more (probably ~20-30MB, so ~3-5MB gzipped). Funny thing how I noticed this - I was self-isolatin

[2020-04-22 16:08] jbelien commented on #25
Oh yes, I was just talking about the gzip encoding !

It's an excellent idea to add a loader :)
I'll do that when I have a bit of time !

[2020-04-25 09:58] jbelien commented on #20
@stalker314314 I restructured the repository to isolate all the data/information related to Brussels in the `cities/brussels` folder.

The scripts and structure should now be independent from any city !
I still have to remove the [this line](https://github.com/openknowledgebe/equalstreetnames/blob/master/scripts/geojson.php#L370) to make the scripts completely independent of the city. I'll do that

[2020-04-25 10:04] jbelien opened #27 "Update documentation"
Following the restructure (f157bfb11234a4a65ee16b275abd0c8f66dbb3d1), the documentation needs to be updated/fixed !

---

- [x] Finish `geojson.php` script documentation
- [ ] Write `statistics.php` script documentation

[2020-04-25 12:39] stalker314314 commented on #20
Awesome. I will try it by merging Belgrade! But, what are next steps for me - should I create PR to add Belgrade here, or keep it in fork, or wait for submodules?

[2020-04-25 15:08] jbelien commented on #20
Let's try to go for sub-modules. I'll move `brussels` to a sub-module !
Ping me when your sub-module (with a structure similar to the `cities/brussels` folder is ready 🎉

[2020-04-25 15:42] jbelien commented on #20
Done ! Brussels is now a [sub-module](https://github.com/openknowledgebe/equalstreetnames-brussels) ! 🍾

[2020-04-25 20:09] jbelien commented on #20
@stalker314314 Looking at your scripts, I just realized I still need to make the languages configurable in [`scripts/geojson.php`](https://github.com/openknowledgebe/equalstreetnames/blob/master/scripts/geojson.php). I'll take care of it tomorrow !

[2020-04-26 10:10] #25 closed

[2020-04-26 11:21] jbelien commented on #25
Took me a while to figure out what would be the best way to know the map is fully loaded (was working fine locally but not on production site) but I got it working use [`map.event:idle`](https://docs.mapbox.com/mapbox-gl-js/api/#map.event:idle).

[2020-04-26 21:50] stalker314314 commented on #20
Hi,
There are still some artifacts:) They don't block me, just wanted to let you know:
https://github.com/openknowledgebe/equalstreetnames/blob/master/scripts/geojson.php#L104
https://github.com/openknowledgebe/equalstreetnames/blob/master/scripts/geojson.php#L151

and `getGender` could be improved: https://github.com/openknowledgebe/equalstreetnames/blob/master/scripts/geojson.php#L388

[2020-04-26 22:14] stalker314314 commented on #20
These one too:
https://github.com/openknowledgebe/equalstreetnames/blob/master/resources/map.ts#L17
https://github.com/openknowledgebe/equalstreetnames/blob/master/resources/map.ts#L34

(sorry if I am annoying you, I am just dumping all missing places as I go, and since I am first one, I guess this is expected. Hopefully, next city will not need to do all of this:D)

[2020-04-27 06:15] jbelien commented on #20
Awesome ! Nice catch !
I'll fix that later today !
You're definitely not annoying me ! Thanks for your help !

[2020-04-27 19:31] jbelien commented on #20
I updated the scripts !
And moved the map settings in `.env` (see step 5 of "[Run locally](https://github.com/openknowledgebe/equalstreetnames#run-locally)")

[2020-05-02 16:39] jbelien opened #30 "Display person nickname"
Some streets are based on the person nickname `P1449` (ex.: https://www.wikidata.org/wiki/Q92919401)

[2020-05-02 21:11] #30 closed

[2020-05-17 16:18] stalker314314 opened #32 "null for label when label is not defined"
I am using English language version. My config is set to `'languages' => ['sr', 'en'],` However, I am still getting nulls for labels, when there is no English version for label present. Here is picture and wikidata entry:

![slika](https://user-images.githubusercontent.com/188751/82153810-52fc5000-9859-11ea-8610-dd927a45a8c0.png)

https://www.wikidata.org/wiki/Q12751881

There are lot of cases whe

[2020-05-17 18:05] jbelien commented on #32
It should have picked the Serbian name indeed (and then the English name if there is no Serbian name) !
I'll have a look !

[2020-05-17 18:24] stalker314314 commented on #32
But I am setting language to 'en' (`<html lang="en">`), so expectation is to use English, and, only if label is not available in English, to use 'sr'. Just saying to manage expectations

[2020-05-17 18:26] jbelien commented on #32
Oh okay, I understand the cause now ! Thanks for the feedback !
This is caused by [`labels.ts`](https://github.com/openknowledgebe/equalstreetnames/blob/master/resources/wikidata/labels.ts), I'll fix it right now !

[2020-05-17 18:51] #32 closed

[2020-07-17 18:36] gislars opened #60 "Wikidata mismatch if multiple streets have the same name"
I get messages about Wikidata mismatch when processing data of Berlin. It happens that different streets have the same name, but different etymology.

 Example:
https://www.openstreetmap.org/way/4441936
https://www.openstreetmap.org/way/38596501

and
https://www.openstreetmap.org/way/109894166
https://www.openstreetmap.org/way/133988483

Taking other tags into account doesn't work. For instance th

[2020-07-17 19:39] jbelien commented on #60
That's interesting !

The whole process is indeed based on the street name and I added that check to detect homonym errors or duplicated wikidata items and indeed make sure different parts of the same street have the same wikidata etymology tag but it doesn't work for more generic street names like "Friedenstraße" !
I could only enable that check for streets based on a person !

I'm a bit confused

[2020-07-17 21:14] gislars commented on #60
About the 2nd example with Cornwall I'm not sure, maybe that is a mistake.

Checking only for "person street names" would solve the present warning. But I guess there might be street names using a very common name but meaning different persons  or using the first name. Double street names in big cities is a valid use case imo.

Then there could spatial processing.
Since using other attributes for

[2020-07-17 21:18] britiger opened #61 "Found wrong gender defined"
Maybe I found a wrong definition.

In this line female (trans) (Q1052281) is counted as male:
https://github.com/openknowledgebe/equalstreetnames/blob/3330c2267465cc651356184849b11a29747c81be/scripts/library/geojson/wikidata.php#L134

The definition for define FX here will never been reached:
https://github.com/openknowledgebe/equalstreetnames/blob/3330c2267465cc651356184849b11a29747c81be/scripts/

[2020-07-17 21:30] jbelien commented on #61
WOW! Nice catch, no idea how I got this wrong.
I'll fix this ASAP !

[2020-07-17 21:40] #61 closed

[2020-07-17 21:44] jbelien commented on #61
🚨 Ping @stalker314314 @robinlinde @gislars

[2020-10-20 15:47] seppesantens opened #97 "change wording in summary"
In stead of "Out of 2986 streetnames, 632 (21.17%) are based on a person.", it might be better to say "Out of ... streetnames, ... have been found to be named after a person." (or something similar). This is a solution for cities that are online but where there are still (a lot of) etymology tags missing.

[2020-10-20 15:53] seppesantens opened #98 "add spacing between number of streets and percentage"
![image](https://user-images.githubusercontent.com/17066627/96611481-01bb2580-12fd-11eb-8e55-3d4176c43544.png)

The number of streets and the percentage are maybe a bit to close to eachother to make it easily readable. Suggestion to add some spacing between the two.

[2020-10-21 07:17] jbelien commented on #97
How would you translate that in Dutch ?

In French, I used the following

[2020-10-21 07:22] #98 closed

[2020-10-21 09:30] seppesantens commented on #97
"Van de ... straatnamen zijn er ... gevonden die naar een persoon verwijzen."

[2020-10-21 09:49] #97 closed

[2020-10-22 11:44] jbelien opened #99 "Map of all the cities available"
Currently, there is nothing behind `equalstreetnames.be`, we only use sub-domains.

It could be a map with all the EqualStreetNames cities around the world.

[2020-10-27 17:39] #99 closed

[2020-11-28 15:33] #20 closed

[2021-01-05 14:34] jbelien opened #120 "Use relation id for city boundaries"
Instead of using center, zoom level, and bounding box for the map (see https://github.com/openknowledgebe/equalstreetnames-brussels/blob/master/html/en/index.html#L447-L449), use http://polygons.openstreetmap.fr/?id=54094

[2021-01-07 15:19] #120 closed

[2021-02-24 19:41] mitmirzutun commented on #27
I cloned the repository with the git clone command (`git clone https://github.com/openknowledgebe/equalstreetnames.git`) in the documentation to run on my computer and it didn't clone the submodules.
It cloned correctly with `git submodule init` followed by `git submodule update --recursive` within the cloned directory (taken from git-scm.com/docs/git-submodule) or clone everything with `git clone

[2021-02-25 08:10] jbelien commented on #27
Hello @mitmirzutun, indeed, each city is a sub-module !
You can find all documentation on how to work with sub-modules here: <https://git-scm.com/book/en/v2/Git-Tools-Submodules>.

[2021-03-09 20:26] drupol opened #142 "Submit data for Nivelles"
Hello,

I just created the data for Nivelles(https://github.com/drupol/equalstreetnames-nivelles), what is the procedure to submit a new city into this repo?

Thanks!

[2021-03-09 20:44] jbelien commented on #142
Awesome news @drupol ! 🎉

I see 2 options:

1. You want to keep full control over the data repository, its updates, and the website that displays the map of Nivelles ; if so, you can just submit a PR to add a sub-module pointing to your repository in the `cities` folder (like we did for the cities outside Belgium) ;
2. You want us to take care of the (automated) updates and the hosting of the webs

[2021-03-09 20:45] drupol commented on #142
Option 2 please :)

[2021-03-10 07:52] jbelien commented on #142
Done!
The sub-module for Nivelles is ready: https://github.com/openknowledgebe/equalstreetnames/tree/master/cities

At the moment, there is only 1 street in Nivelles that has the Wikidata reference: "Avenue Reine Astrid"
You can see the list here: https://github.com/openknowledgebe/equalstreetnames-nivelles/blob/master/data/gender.csv

Since there is only 1 street, I won't deploy the website yet b

[2021-03-10 09:37] drupol commented on #142
This is great, thanks !!!

[2021-03-10 10:24] jbelien commented on #142
Haha, thanks @RobinLinde !
I'll deploy `https://nivelles.openstreetmap.be/` later today, I'll let you know when you can enable the redirection. 👍

WHAT A TEAM ! \o/

[2021-03-10 16:50] #142 closed, assigned to nobody

[2021-03-10 16:50] jbelien commented on #142
@drupol Data and website will be automatically updated once a week.

[2021-03-10 17:08] drupol commented on #142
So, the marker on the map(https://equalstreetnames.be/) will appear soon?

[2021-03-10 17:12] RobinLinde commented on #142
@jbelien Redirect should work now, also added link to equalstreetnames.eu (https://github.com/RobinLinde/EqualStreetNamesLanding/pull/1)

[2021-03-19 19:45] ynux opened #145 "enhancement: add etymology info in config.php to map"
For streets (or more precisely osm ids) in the config.php, the gender is shown as the appropriate color in the map. It would be nice if etymology data could also be shown at mouseclick on the street, like "named after some utterly boring local politician that neither Wikipedia nor Wikidata can be bothered with".
So far, some comments were added. The info could be in a third comma separated field.

[2021-03-19 19:49] ynux opened #146 "New Feature: Count tagged in osm, tagged in config.php, untagged"
To see the progress as we work our way through the city map, it would be great to see:
  *   For how many streets there was a tag name:etymology:wikidata found in OpenStreetMap
  *   For how many streets there was a tag found in the config.php
  *   For how many streets nothing was found
So far, all streets that are untagged or tagged with an entity without gender are white.
It could also make sen

[2021-03-19 20:07] ynux opened #147 "php memory exhausted"
When running my `php composer.phar run update-data -- --city=munich` with the full beauty of Munich, that is

[code]
I get an error

`Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 45056 bytes) in /Users/xxx/gitrepos/equalstreetnames/scripts/library/geojson/wikidata.php on line 28
Script php scripts/geojson.php handling the geojson event returned with error code 2

[2021-03-19 21:46] RobinLinde commented on #147
For me, setting `memory_limit` in php.ini to `1024M` was enough to be able to update data for Munich. Probably a good idea to at least mention it somewhere like the [replicate.md](https://github.com/openknowledgebe/equalstreetnames/blob/master/docs/replicate.md), or the [scripts readme](https://github.com/openknowledgebe/equalstreetnames/blob/master/docs/scripts/README.md).

[2021-03-20 07:05] jbelien commented on #147
Thanks @RobinLinde, good to know.
I'll try to figure out how to improve the process so it's not necessary to increase PHP memory (the idea is to make the process work for any city, including Beijing for instance :P)

[2021-03-20 17:31] jbelien opened #148 "Regrouping all cities in one GitHub organization"
First things first: I am more than happy and proud to see more and more cities replicating our EqualStreetNames project.

Since more and more cities are joining the party and each city has its own repository, it starts to be "a lot" of repository just to run this project.
For Belgium only, including this repository, we now have 9 repositories than I'm managing.

This last month people have contact

[2021-03-20 18:14] RobinLinde commented on #148
At first sight it seems like a very good idea, would also fix the issues I was having (https://github.com/openknowledgebe/equalstreetnames/pull/143). Might also open up possibilities for creating teams. Will try to post some more when I get back from IKEA.

[2021-03-20 18:56] stalker314314 commented on #148
I would not even mind if this would be centrally managed repo (with all cities in same repo, one website...), and I certainly don't mind if this is all under one GitHub org. Go for it and let me know once you create it, so I can migrate!

[2021-03-20 20:16] RobinLinde commented on #148
Back from IKEA (no better way to spend a birthday 😛) now (and done with fixing some Docker containers), I guess this would also allow more easy collaboration and discussion for cities/regions/countries in corresponding teams. Will be interesting to see how everything works out. Also hope to do something like a single website and frontend later this year...

[2021-03-20 20:46] jbelien commented on #148
Happy birthday @RobinLinde 🎁

I'll create the new organization tomorrow 👍

[2021-03-21 09:21] iLienstAr commented on #148
@jbelien this is the way to go! I like the idea, also community wise: it becomes an international, let's get rid of the borders at EqualStreetNames ;)

[2021-03-21 09:23] stalker314314 commented on #148
Hi, I forked Belgrade to EqualStreetNames. If I should transfer instead, let me know!

[2021-03-21 10:19] jbelien commented on #148
@stalker314314 Indeed, I was more thinking of a transfer than a fork but that's really up to you :)

[2021-03-21 10:26] stalker314314 commented on #148
No problem, done now!

[2021-03-21 10:28] jbelien commented on #148
@stalker314314 Awesome ! I'm updating the submodules reference ! 👍

[2021-03-21 11:28] RobinLinde commented on #148
Transfered [equalstreetnames-groningen](https://github.com/EqualStreetNames/equalstreetnames-groningen) and [equalstreetnames-assen](https://github.com/EqualStreetNames/equalstreetnames-assen). Just need to remove/update Github Actions.

[2021-03-21 15:43] jbelien commented on #148
I've consolidated all the repositories already transferred including automated updates (sub-module + main repository).

@RobinLinde Push to main repository failed ([Assen](https://github.com/EqualStreetNames/equalstreetnames-assen/runs/2160194414?check_suite_focus=true#step:12:7) & [Groningen](https://github.com/EqualStreetNames/equalstreetnames-groningen/runs/2160199043?check_suite_focus=true#ste

[2021-03-21 15:45] jbelien commented on #148
I didn't update the deployment workflow yet.

[2021-03-21 15:51] gislars commented on #148
I just transfered "berlin" to this new orga. Thanks @jbelien for consolidating.

[2021-03-21 21:15] RobinLinde commented on #148
@jbelien I believe i have a working deployment workflow in [deploy.yml](https://github.com/EqualStreetNames/equalstreetnames-assen/blob/master/.github/workflows/deploy.yml) over at `equalstreetnames-assen`. Feel free to take a look and point out anything i've missed, getting a bit 😴.

[2021-03-22 20:27] jbelien commented on #148
Awesome, great job @RobinLinde !
I didn't know about the `on.workflow_run`, this is perfect for our use case !

I updated my `deploy.yml` files for Belgium (see [`deploy.yml` for Brugge](https://github.com/EqualStreetNames/equalstreetnames-brugge/blob/master/.github/workflows/deploy.yml), for instance)

[2021-03-24 07:28] jbelien commented on #148
To help people replicating the project in their city, I have added a "template repository" : https://github.com/EqualStreetNames/equalstreetnames-template

Feedback is more than welcome :)

[2021-03-24 09:01] ynux commented on #148
That is perfect. I was looking for a place to put our learnings. I forked it.

[2021-03-24 10:44] ynux opened #150 "Explain how the statistics are created"
Please add some explanation about how the statistics are generated by `statistics.php`. In  the `docs/scripts/README.md` there's a link to a documentation `statistics.md` that does not exist.

[2021-03-24 10:51] ynux opened #151 "Include config.php gender data in statistics"
Only applicable if they aren't included yet, but I don't think they are, from looking at the code and the data. For our part of Munich I can see that nearly all streets are named after persons, but the statistics claim it's only half.

Also, add a caveat in the text that these statistics aren't complete due to incomplete information.

A claim such as for Munich "Out of 6683 streetnames, 78 (1.17%)

[2021-03-24 11:22] RobinLinde commented on #148
@jbelien Looks good, but it might be useful to mention that it needs to be included in the package.json, something like [this](https://github.com/RobinLinde/equalstreetnames-template/commit/b884f78084e969ca29d5f36d00ab7b8d2476dc73). If you want I can open a PR.

I'm also trying to improve some of the other documentation, lint them with markdownlint and adding a guide how to get started and set up

[2021-03-24 11:33] jbelien commented on #148
You're absolutely right, I forgot that step.
I'll add it. 👍

Update of the documentation is indeed long overdue (see #27).
I'll make a first "cleaning" tonight.

[2021-03-24 11:42] jbelien commented on #151
All the ways/relations defined in [`$config['gender']` in `config.php`](https://github.com/EqualStreetNames/equalstreetnames-template/blob/master/config.php#L15-L18) are included in the statistics (see [`geojson.php (line 72)`](https://github.com/EqualStreetNames/equalstreetnames/blob/master/scripts/geojson.php#L72) + [`geojson.php (line 138)`](https://github.com/EqualStreetNames/equalstreetnames/

[2021-03-24 11:42] #151 closed

[2021-03-24 12:20] RobinLinde commented on #151
I've just done the update for Assen and Groningen (which Munich seems to be based one), missed out on that.

[2021-03-24 12:24] RobinLinde commented on #148
While going through all the documentation I noticed `app.countries` might also need to be set to the correct country.

[2021-03-24 12:46] jbelien commented on #148
Oh, indeed ! Good catch ! 👍

[2021-03-24 12:49] RobinLinde commented on #148
Opened a pull request for now: https://github.com/EqualStreetNames/equalstreetnames/pull/152, feel free to give feedback and/or comments.

[2021-03-24 13:13] jbelien opened #153 "Add non-binary gender"
Request from @imlabormitlea-code for Leipzig, Germany.

---

I'll take care of it.
I just need to add [`Q48270`](https://www.wikidata.org/wiki/Q48270) in the processed values for property [`P21`](https://www.wikidata.org/wiki/Property:P21).

[2021-03-24 13:46] ynux commented on #148
Would be helpful to add version information for the software used, like
* git version minimum 1.5.3 (to handle submodules),
* node ( v8.2.1 does not work , v14.16.0 works)
* php (7.3.11 works)
Does not have to be perfect, just known-to-work versions.

[2021-03-24 13:58] jbelien commented on #148
To be honest, it doesn't really matter, you just need a "recent" version.

[2021-03-24 17:44] #153 closed

[2021-03-25 08:14] jbelien commented on #148
@RobinLinde I have merged your documentation update, thanks a lot !

I have restructured it a bit.
I'll update the scripts documentation and the replication documentation later today or tomorrow.

[2021-03-26 07:58] jbelien commented on #150
Duplicate of #27

[2021-03-26 07:58] #150 closed

[2021-03-26 08:05] #7 closed

[2021-03-26 08:09] #14 closed

[2021-03-26 17:20] jbelien commented on #2
Closing because it became out of the scope of the project (used for Brussels only).

[2021-03-26 17:20] #2 closed

[2021-03-26 17:22] jbelien commented on #2
Referenced to file [`street-listing.php`](https://github.com/EqualStreetNames/equalstreetnames-brussels/blob/master/event-2020-02-17/street-listing/street-listing.php)

[2021-03-26 17:29] jbelien commented on #145
I gave some thoughts about this and actually, I'm not sure how I feel about it.

The goal of the project is to be fully based on data from OpenStreetMap and Wikidata.
I think that if we have information about a person those data should go into Wikidata and linked to OpenStreetMap using `name:etymology:wikidata` tag.
The data input from `config.php` should only be used when we don't have enough inf

[2021-03-26 17:29] jbelien commented on #145
I would be interested to have your insight on this topic @RobinLinde @gislars @stalker314314 ?

[2021-03-26 20:18] RobinLinde commented on #145
TL;DR: I'm for adding to Wikidata, even if it's only very basic

Personally I'm for adding everything to Wikidata, since it allows anyone to add more data and context to a person, but sometimes adding just some basic details can take a lot of time. For example, [this](https://www.wikidata.org/wiki/Q88359868) took me something like half an hour to do. Might be interesting for once, but if you have

[2021-03-27 09:11] ynux commented on #145
What is this project about? We fight against too much public space given to CIS men. And now we add hundreds of them to Wikidata? That doesn't feel right.

[2021-03-27 10:35] jbelien commented on #145
This project is about creating a map (and statistics) to highlight the inequality between genders in the naming of the streets of a city (and to suggest alternatives or suggestions for new streetnames, at least for Brussels where the project was initiated - see "Suggestions" in <https://equalstreetnames.brussels/>).

This project is also about showing the power of open-data !
That's why it has bee

[2021-03-27 16:22] gislars commented on #145
My opinion is EqualStreetNames is a great visualization for the gender inequality  in our street networks. As I was setting it up for Berlin I was thinking about to extend it to visualize more Wikidata categories. It might also be interesting how much streets are named after other cities, professions, plants... but I think it is out of scope or it would be an other project.

@ynux I understand you

[2021-03-28 20:47] ynux opened #156 "Add year of naming?"
In a discussion with a historian about renaming a street it turned out that the year of the naming can be important. Specifically, if you want to rename a street in Germany, it will be easier if it was named during the Nazi regime.
I couldn't find a year_named tag in openstreetmap. Would it make sense to introduce it?
(Not an issue really, more of a question)

[2021-03-29 06:00] lukf opened #157 "Add Freising"
I would like to transfer my Freising repo to the EqualStreetNames account.

https://github.com/lukf/equalstreetnames-freising

[2021-03-29 06:29] jbelien commented on #157
Hello @lukf , that's an EXCELLENT news ! 🎉

- You need to go to your repository settings : <https://github.com/lukf/equalstreetnames-freising/settings>
- Click on the "Transfer" button in the "Danger Zone"
- Put "EqualStreetNames" in the "New owner’s GitHub username or organization name" field
- Type your repository name to confirm
- And transfer it

[2021-03-29 06:30] jbelien commented on #156
Oh, yes, that's indeed an excellent idea. 👍

I'll try to figure out if there is a way to do that in _OpenStreetMap_ tags.

[2021-03-29 06:41] RobinLinde commented on #156
On [Taginfo](https://taginfo.openstreetmap.org/keys/name%3Astart_date), there are ~1400 uses for `name:start_date`, which seems like a suitable tag. Collecting this would also mean you would be able to see if there are changes in naming streets over time.

[2021-03-29 06:52] jbelien commented on #156
There is (apparently) also https://wiki.openstreetmap.org/wiki/Proposed_features/Date_namespace

I also have "pinged" my "colleagues" from OpenStreetMap Belgium.

[2021-03-29 06:53] lukf commented on #157
@jbelien when I attempt the transfer, it fails with "You don’t have the permission to create public repositories on EqualStreetNames"

[2021-03-29 06:55] jbelien commented on #157
Ha ! Interesting ! 😄
I probably need to create your team first.
I'll do that later today and come back to you ! 👍

[2021-03-29 07:09] lukf commented on #157
After joining the EqualStreetNames GitHub team, transfer was successful. Thanks!

[2021-03-29 07:32] jbelien commented on #157
Awesome !
Welcome on board ! 🚀

You now have admin rights on `EqualStreetNames/equalstreetnames-freising` repository and are maintainer of the "Freising" team.

I'll setup the automated data update and deployment later today.

[2021-03-29 08:41] seppesantens commented on #156
The name:start_date indeed seems suitable, but the date namespace @jbelien linked to is (better) documented, so I would go for that, if needed. Be sure to read on that same wiki-page about the scope of OSM. Personally, I'm not a fan of documenting history in OSM, I would suggest to do this in Wikidata on the Q-item of the street itself.

[2021-03-29 08:44] jbelien commented on #156
I thought about that solution too and I think it's indeed the best solution.
But it would require to create a Wikidata item for each street(name) ; that's already done for Brussels but I don't know if it's done for other cities.
(and my current process doesn't use the street(name) Wikidata item ... but that easily fixed)

[2021-03-29 09:21] Marc-marc-marc commented on #156
name:start_date the start_date of the current name, it's imho the best for a road with only one old and one new name. this is useful for streets that have recently changed name, it avoids that someone makes the reverse correction with an old source (for example the old address of a shop on a website not up to date)

date namespace allow to store more than 2 names for ex name:2017=Rue de la frite n

[2021-03-29 21:50] RobinLinde commented on #156
Almost all Dutch streets have Wikidata items, so should be fine for NL

[2021-03-30 06:52] jbelien commented on #157
I have added the sub-module to the main repository and set up the automated data update process.

For a reason that I can't explain (for now), the Overpass query do not return anything when I run the process ...
I'll investigate !

[2021-03-30 07:01] lukf commented on #157
Maybe we are getting outdated data. I added all the Wikidata tags to OSM yesterday.

[2021-03-30 07:08] jbelien commented on #157
No, sorry, it was an issue with the Overpass queries from the template.
I fixed it ; data are now available here : https://github.com/EqualStreetNames/equalstreetnames-freising/tree/master/data

I'll deploy the website later this week.

[2021-03-30 17:56] jbelien commented on #157
Lift off : https://freising.equalstreetnames.eu/ 🚀

[2021-03-30 19:34] zorae opened #159 "Incorrect birth/ death day parsing"
For streets named after Virgin Mary, the birth and death dates from her [Wikidata entry](https://www.wikidata.org/wiki/Q345) get incorrectly parsed. The website displays her lifespan as "100-100".

See "Marienplatz" street in [Freising](https://freising.equalstreetnames.eu/en/index.html#17.56/48.400906/11.744044)

[2021-03-30 21:23] RobinLinde opened #160 "Boundary overwriting URL parameters"
When opening a direct link with location parameters in the URL, like `https://assen.equalstreetnames.eu/nl/index.html#18.05/52.995805/6.569603`, the page automatically fits the bounds using the boundary.
[code]
I guess it would probably be a good idea to check whether a location is included in the URL, and only run fitBounds if no parameters, or empty parameters are specified.

@jbelien Also just

[2021-03-31 06:53] jbelien commented on #159
There is indeed an issue.

For the date of birth (`P569`), I get `-0100-00-00T00:00:00Z`.
For the date of death (`P570`), I get `+0100-00-00T00:00:00Z`.

I probably won't be able to convert that (easily) to "1. century BCE" and "1. century" but it should be "-100 - 100" instead of "100 - 100".

I'll try to fix that.
Thanks for the notice.

[2021-03-31 21:38] eMerzh commented on #145
adding a few cents here, as I recently did a new city... and indeed, there are a few streets that are named after an old politician that no one knows about, and of course Wikipedia page was rejected and not sure about wikidata but should probably be the same kind of answer ...

those ends up beeing in the config, but then there isn't any info attached...  not sure we want to bother too much with t

[2021-03-31 22:49] ynux commented on #145
I guess the situation depends on your city. We did all the streets in our district of Munich. Here we have 169 streets, of which 122 are named after a person. Of those, 52 do not have Wikidata entries (50 men, 2 women).
Maybe our district is exceedingly boring, streetnamewise. It rapidly grew around 1900, 27 of those men were taken as hostages in 1632, and that is all that they are known for. Thos

[2021-04-08 12:28] hjoertel opened #163 "New Repository for city Halle(Saale) in Germany"

[2021-04-08 12:38] jbelien commented on #163
Awesome ! 👍

I guess this is the repository : https://github.com/hjoertel/equalstreetnames
I'll create a new team for Saale, Germany so you'll be able to transfer the repository to this organization (or do you prefer not to transfer it ?).

[2021-04-08 13:10] hjoertel commented on #163
Am Donnerstag, 8. April 2021, 14:38:46 CEST schrieb Jonathan Beliën:

I'm glad that I could do it, thanks

Yes

The city is Halle, but because we have some cities with this name, it is officially called
    Halle(Saale)

means Halle on the river Saale.

Of course, I like to have it trensferred.

Greetings
	Heinz

[2021-04-08 13:20] jbelien commented on #163
You just need to accept the invitation to the [team](https://github.com/orgs/EqualStreetNames/teams/halle-saale) I've sent you.

Once it's done, you can transfer your repository to `EqualStreetNames` organization (in your repository settings).
You will have to rename it `equalstreetnames-halle-saale`.

[2021-04-08 13:53] hjoertel commented on #163
Am Donnerstag, 8. April 2021, 15:20:47 CEST schrieb Jonathan Beliën:

Done,

	Heinz

[2021-04-08 13:55] jbelien commented on #163
Awesome ! 👍

I'll take care of the last steps later today.

[2021-04-08 16:29] jbelien commented on #163
I have set up the automated data update process and deployment process ! 🚀

You can now access your website here : https://halle-saale.equalstreetnames.eu/ (domain provided by the awesome @RobinLinde)

Now it's your job to update OpenStreetMap and Wikidata. 😄
Everything will be automatically updated once a week on Thursday.

[2021-04-08 16:29] #163 closed

[2021-04-08 16:44] hjoertel commented on #163
Am Donnerstag, 8. April 2021, 18:29:35 CEST schrieb Jonathan Beliën:

Hi Jonathan

looks not so good so far, Looks like we have to do a lot of work to make the result valid

Heinz

[2021-04-10 06:43] jbelien commented on #148
Thanks a lot for all your feedback !
I still need to finish some documentation but I think the restructuring is complete and the replication process is easier than ever.

[2021-04-10 06:43] #148 closed

[2021-04-10 07:26] jbelien commented on #160
That will be automatically fixed in every website at next (automated) deployment.

[2021-04-10 14:24] jbelien opened #167 "✨ New global map"
Just to let you know that I have upgraded the global map : https://equalstreetnames.be/

- Automated process (no need to add the city manually)
- Improved popup design
- Display of marker in low zoom levels (0 - 8)
- Display of boundary polygon(s) in high zoom levels (8+)
- Display of statistics in the popup

Feedback welcome !

Ping @EqualStreetNames/belgium @EqualStreetNames/germany @EqualStreet

[2021-04-11 08:50] jbelien commented on #160
This is still not fixed...

There is definitely a conflict between `bounds` (or `fitBounds()`) and the parameters from the hash (https://github.com/maplibre/maplibre-gl-js/blob/main/src/ui/map.js#L447-L462)

[2021-04-11 10:12] jbelien commented on #160
The issue is **fixed** when using `app.center` + `app.zoom` in 3aae34a57c92c44ab7e51b2f20771276bb140362.

---

The issue is **not fixed** when using `app.bbox`.
The issue is **not fixed** when `app.center`, `app.zoom`, and `app.bbox` are not defined (the app uses bounds from `boundary.geojson` in that case).
Reason: https://github.com/maplibre/maplibre-gl-js/blob/main/src/ui/map.js#L458-L461

---

[2021-04-11 10:31] jbelien commented on #160
Well ... That IS fun(ny) ...

I commited 8a92b0c327eb06ca0699d24c915d63a345cd8d9c for consistency with previous commit and ... it seemed to have fix this issue.

I've deployed the update on https://equalstreetnames.brussels/ and it seems to works as expected.
I'll wait for deployment on all websites to close this issue.

[2021-04-11 14:06] #159 closed

[2021-04-11 14:07] jbelien commented on #159
Thanks a lot @zorae !
It's now fixed and will be applied to every website during next update (next Thursday for Freising).

[2021-04-12 06:59] ynux commented on #145
To satisfy some local curiosity we created a variant that displays "local data" living in a csv of this form:
[code]
The `year_named,year_built`is for some future experiments. For several languages, the data would probably need restructuring.
The map is created from special branches: [super module](https://github.com/ynux/equalstreetnames/tree/laim) and [munich sub module](https://github.com/Equal

[2021-04-12 07:38] jbelien commented on #145
Interesting ! I l like that separate CSV file logic. 👍

[2021-04-15 05:56] jbelien commented on #160
It seems to be fixed ! 🎉

[2021-04-15 05:56] #160 closed

[2021-04-16 13:18] hjoertel commented on #167
Am Samstag, 10. April 2021, 16:24:37 CEST schrieb Jonathan Beliën:

Jonathan,

I' missing Halle in the list of German cities on the overview page

https://equalstreetnames.eu/de.html

Is it on me to make a change ?

Regards 	Heinz

[2021-04-16 13:31] RobinLinde commented on #167
The list on equalstreetnames.eu is served from [RobinLinde/EqualStreetNamesLanding](https://github.com/RobinLinde/EqualStreetNamesLanding), which I keep up-to-date manually. I have now added it in https://github.com/RobinLinde/EqualStreetNamesLanding/commit/d55b2506c10ac6a4166c05f322c0e548658de14a.

It might be an idea to make equalstreetnames.eu serve the same page as equalstreetnames.be. @jbelie

[2021-04-16 14:03] jbelien commented on #167
@hjoertel The "official" overview page is <https://equalstreetnames.be/> (built automatically from this repository). <https://equalstreetnames.eu/> is managed by @RobinLinde (see his comment here above).

---

It is really as you wish! 😄
<https://equalstreetnames.be/> is indeed now probably easier to maintain since it's built automatically.
Feel free to deploy the global map from this repository t

[2021-04-16 15:05] hjoertel commented on #167
Am Freitag, 16. April 2021, 16:04:05 CEST schrieb Jonathan Beliën:

Thanks to both of you.
I'm really not sure which landing page are better suited, .eu or .be

Regards
	Heinz

[2021-04-16 15:52] RobinLinde commented on #167
Might make something new in the future, but for ease of maintenance I've opened a PR (#169)

[2021-04-16 15:53] RobinLinde commented on #146
Would be great to see also streets that don't have anything in `statistics.json`. That would definitely help me with the [statistics](https://github.com/RobinLinde/statistics) project I'm currently breaking my head over.

[2021-04-19 08:54] habi opened #171 "New repository for Bern, the federal city of Switzerland"
Awesome project, I saw it linked in the latest weeklyOSM!

I've created a repository for Bern, the <del>capital</del>federal city of Switzerland and would be happy to migrate it to the EqualStreetNames organization: https://github.com/habi/equalstreetnames-bern

[2021-04-19 11:13] jbelien commented on #171
Awesome ! 🤩
Welcome on board !

I have created a [Bern team](https://github.com/orgs/EqualStreetNames/teams/bern), you should have received an invitation to the team.

Once you joined the team you should be able to transfer your `equalstreetnames-bern` repository to EqualStreetNames organization.

Once it's done, I'll setup the automated update and deployment. 🚀

[2021-04-19 12:48] habi commented on #171
I did.
And it 'forced' me to finally set up 2FA for GitHub :)

I also just did that, see screenshot below.

<img width="666" alt="Screenshot 2021-04-19 at 14 47 41" src="https://user-images.githubusercontent.com/1651235/115238754-527dd080-a11e-11eb-97df-c66b6cc89d39.png">

[2021-04-19 13:11] jbelien commented on #171
😄

---

I'll take care of the following steps later today:

- [x] Make you maintainer of the Bern's team
- [x] Give admin rights to Bern's repository for Bern's team
- [ ] Create Bern's sub-module
- [ ] Add automated data update process
- [ ] Add automated deployment process
- [ ] Add Bern to the list of the cities ([README](https://github.com/EqualStreetNames/equalstreetnames#readme) + [Global ma

[2021-04-19 15:55] jbelien commented on #171
Automated data update process is enabled !

[code]

Now it's your turn to update OpenStreetMap ! 🎉

[2021-04-19 16:27] jbelien commented on #171
https://bern.equalstreetnames.eu/en/index.html 🚀

[2021-04-19 19:26] habi commented on #171
I'm on it: https://osm.li/0UI
7 ways done, looots more to go :)

[2021-04-19 20:07] jbelien commented on #171
Awesome! 🤩
And Good luck!

Data will be automatically updated every Thursday.
We can also run the data update process on demand if you want, just ping me (or run it yourself - see [`INSTALL.md`](https://github.com/EqualStreetNames/equalstreetnames/blob/master/INSTALL.md)).

[2021-04-19 20:07] #171 closed

[2021-04-19 20:26] habi opened #172 "Ignore sidewalks"
In Bern (see [1]) we have a bunch of sidewalks mapped along the streets with `footway=sidewalk`.
I think these ways should be ignored from display and analysis.

[1]: https://bern.equalstreetnames.eu/

[2021-04-20 06:11] jbelien commented on #172
Your 2 suggestions are valid solutions !

Personally, I don't think sidewalks should be tagged with `name` or `name:etymology:wikidata` in OpenStreetMap.

But since it happens in Bern, I would indeed just filter those out in your Overpass query for Bern. 👍

[2021-04-20 06:57] habi commented on #172
I personally also think that sidewalks don't need names, but the main sidewalk-maker here in Bern (with a total of 9000 changesets) did so :)
I'll filter out sidewalks, this seems the easiest solution, thanks for the input!

[2021-04-20 06:57] #172 closed

[2021-04-20 07:12] #146 closed

[2021-04-20 07:54] #167 closed

[2021-04-22 06:47] jbelien commented on #146
@ynux Update has been made for Munich !

You'll find the statistics in [`sources.json`](https://github.com/EqualStreetNames/equalstreetnames-munich/blob/master/data/sources.json) and a "source" column has been added to the CSV files (see [`gender.csv`](https://github.com/EqualStreetNames/equalstreetnames-munich/blob/master/data/gender.csv))

[2021-04-23 07:55] RobinLinde commented on #146
Also added `sources.json` to [statistics.equalstreetnames.eu](https://statistics.equalstreetnames.eu/), not completely sure about the visualisation yet.

[2021-04-24 08:53] hjoertel commented on #167
Jonathan,

last week I did add a lot of adding wikidata information. BUT, i coudn't await the update on Thusday, i cant see the newly added street information on
https://halle-saale.equalstreetnames.eu/

What went wrong?

Greetings
	Heinz

[2021-04-24 10:00] jbelien opened #173 "Halle (Saale) failed update ?"
Jonathan,

last week I did add a lot of adding wikidata information. BUT, i coudn't await the update on Thusday, i cant see the newly added street information on
https://halle-saale.equalstreetnames.eu/

What went wrong?

Greetings
	Heinz

_Originally posted by @hjoertel in https://github.com/EqualStreetNames/equalstreetnames/issues/167#issuecomment-826060321_

[2021-04-24 10:07] jbelien commented on #173
Hello @hjoertel ,

The data update happened correctly on Thursday 22/04 (see https://github.com/EqualStreetNames/equalstreetnames-halle-saale/commit/7d3afabc014162759e7e0e854479a0df06b0ffbd).

The deployment process also happened correctly on Thursday but for a reason that I can't explain it didn't used the latest data.
I've run the deployment process again and it's now fixed.

I'll keep the issue

[2021-04-24 10:54] hjoertel commented on #173
Am Samstag, 24. April 2021, 12:08:01 CEST schrieb Jonathan Beliën:

Thank you,
now much more streets are on the map with Wikidata data.  I still need more regional people helping with improve it.

May be we have another issue. I selected German
https://halle-saale.equalstreetnames.eu/de/
but the pop-up window when a street is selected, displays the English entry

Thanks and Greetings
	Heinz

[2021-04-24 14:53] jbelien commented on #173
You forgot to add German in the languages used by the process in your `config.php`.
[code]
I have made the update (the process is currently running).

[2021-04-24 14:56] jbelien commented on #173
Data update has completed and the automated deployment succeeded. ✅

[2021-04-24 15:53] ynux opened #174 "OSM organized editing"
@kr4lt points out in https://github.com/EqualStreetNames/equalstreetnames-munich/issues/1 :

So should this project be added to https://wiki.openstreetmap.org/wiki/Organised_Editing/Activities ?

[2021-04-24 17:21] hjoertel commented on #173
Am Samstag, 24. April 2021, 16:53:57 CEST schrieb Jonathan Beliën:

Ohh, I'm sorry
but thanks.

--
mit freundlichen Grüßen aus Halle (Saale)
       Heinz-Jürgen Oertel

[2021-04-25 06:34] jbelien commented on #174
Good point, thanks @kr4lt !

EqualStreetNames project has been added to <https://wiki.openstreetmap.org/wiki/Organised_Editing/Activities>

[2021-04-25 06:34] #174 closed

[2021-04-26 11:53] MichalPP opened #176 "cities in Slovakia"
I run Slovak language specific info page on streets named after people. I've started before the times of wikidata in OSM, so the guessing of whether a street is named after a person is done by string comparison (with a lot of exceptions and if/else-s) in my Postgis DB (mainly using PHP). The result is a postgres table with cities, streetnames and wikipedia pages.

[here is a list of cities in Slov

[2021-04-26 12:11] jbelien commented on #176
Hello @MichalPP ,

This is AWESOME!
I don't understand everything in your project because of the language but it seems perfectly in line with EqualStreetNames and I'll be more than happy to help you adding Slovakia to this project.

You're WAY further than we are and it's absolutely awesome to have more than 200 cities to add to the project.
It's indeed unrealistic to add 200+ new repositories (ev

[2021-04-26 13:05] MichalPP commented on #176
for navigation purposes, it's possible to split into regions, but for marketing/municipality purposes, I'd like to have separate pages for each city (eg one city has score of 50 male streets to 0 female streets).

afaik, setting up each EqualStreetNames city is "just" default lat/lon/zoom and boundary relation id.

1) data directory is autocomputed (which I can compute from my server, for now; it'

[2021-04-26 13:26] jbelien commented on #176
Not exactly, but it's almost as simple.
You just have to follow the instructions here : https://github.com/EqualStreetNames/equalstreetnames-template

Indeed! Once the repository is setup, I can just run the automated data process.

Indeed!

There is the default English page in the template repository. You just have to copy paste it (and make a few changes) to add another language.

[2021-04-29 09:01] RobinLinde commented on #173
@jbelien
I think I'm seeing some similar problems for Assen. It looks like something like this is happening:
1. Data is updated and committed to city repo
2. Tries to update submodule, but fails because local version is out of date because another workflow pushed something.
3. Deploy and build is triggered and uses the old version of the submodule that is still referenced

A fix might be to pull t

[2021-04-29 09:16] jbelien commented on #173
For reference: https://github.com/EqualStreetNames/equalstreetnames-assen/runs/2462988471?check_suite_focus=true#step:12:8

I also had the same issue for cities in Belgium.

I use the `ad-m/github-push-action` GItHub Action and it's indeed already a feature request (see https://github.com/ad-m/github-push-action/issues/84).

There is already a `git pull` in the process before the push (see [update

[2021-04-30 08:33] RobinLinde commented on #173
Seems like a good solution for now, we could also create our own fork of `ad-m/github-push-action` and implement it. Doesn't seem like something that would be too hard.

[2021-05-01 07:28] hjoertel opened #186 "Add "last updated""
As in the subject, would be helpful for street name maintainers having this information in the info box.

[2021-05-01 07:46] jbelien commented on #186
That's a good idea!
I'll try to add that in the data process. 👍

[2021-05-01 15:47] jbelien commented on #147
Data process has been completely refactored.
That should improve performances.
I'll reopen this issue if needed.

[2021-05-01 15:47] #147 closed

[2021-05-02 07:36] RMHogervorst opened #188 "New city (Leiden, Netherlands) - PHP error?"
I've added a new city and try to run the data update but it fails for some reason. I haven't used Php that much so I'm a bit confused if I'm doing something wrong or if the code is wrong.

Here is what I did:
* created a new repository for my city https://github.com/RMHogervorst/equalstreetnames-leiden based on the template
* following the steps of the template readme:  modified the config.php, an

[2021-05-02 08:03] jbelien commented on #188
Hello @RMHogervorst ,

First things first: welcome on board!

You're indeed right, I used Typed Properties that appears in PHP 7.4 but still refer to PHP 7.2 and PHP 7.3 in `composer.json`.
I'll update the `composer.json` file.

You're probably using a version of PHP prior to PHP 7.4.
Please upgrade to PHP 7.4 or PHP 8.0 !

[2021-05-02 08:16] RMHogervorst commented on #188
You're right! Macos ships a very old version of php! I'll try again with a new version 'brew install php'

[2021-05-02 14:01] #27 closed

[2021-05-02 15:28] RMHogervorst commented on #188
oh god, you have to force macos to use a newer version.
If anyone has the same issue: use brew to install a new version of php `brew install php`
This will tell you where that version is installed.
Add that path to the PATH. So in your .bash_profile (or zsh config)
Add a line like this: `export PATH=/usr/local/Cellar/php/8.0.5/bin:$PATH` this will put the php version of homebrew before the standar

[2021-05-02 15:33] RMHogervorst commented on #188
unfortunately this is not enough, I have  a new error! I think I'm not getting the correct data.
I get a `Uncaught DivisionByZeroError: Division by zero in PATHTOTHERIGHTFOLDER/equalstreetnames/process/Command/StatisticsCommand.php:123` So I guess it isn't downloading the right values?

[code]

[2021-05-02 15:38] RMHogervorst commented on #188
hmm it doesn't download the right roads
[code]

[2021-05-02 15:40] RobinLinde commented on #167
EqualStreetNamesLanding now uses the `cities.json` file to generate the links, so it should stay up-to-date now.

[2021-05-02 15:50] ynux opened #190 "ERR_TOO_MANY_REDIRECTS , https://munich.equalstreetnames.eu/"
When opening https://munich.equalstreetnames.eu/ , we get the error ERR_TOO_MANY_REDIRECTS . With both Firefox and Chrome, and even after deleting all cookies. Other cities work (Freising, Brussels).

[2021-05-02 16:05] RMHogervorst commented on #188
I first used the wrong OSM relation, (there are 2 for leiden) and so the boundary and adminlevel did not match. It took several tries but now I have a better relation with corresponding adminlevel and it downloads streets!

[2021-05-02 16:08] RobinLinde commented on #190
Should be fixed now, seems to be an error from the combination of Github Pages and Cloudflare (https://stackoverflow.com/questions/50145231/how-to-fix-err-too-many-redirects-on-custom-github-pages-domain).

[2021-05-02 19:04] jbelien commented on #188
My guess concerning the `DivisionByZeroError` was indeed that there was no data to process.
I'll add an error and stop the process if it happens so we don't get the `DivisionByZeroError`.

[2021-05-02 19:06] jbelien commented on #171
Hello @chatelao,

I saw that you started contributing to Bern, welcome on board.
Can I add you to @EqualStreetNames/bern team ?

[2021-05-02 19:09] jbelien commented on #190
Not really related to the project itself since it was a domain name "misconfiguration".

It seems to be fixed ; thanks @RobinLinde .
I'll close the issue.

[2021-05-02 19:09] #190 closed

[2021-05-02 19:40] habi commented on #171
Yes, please do :)
We've talked about it off GitHub and @chatelao would like to contribute.

[2021-05-02 19:48] jbelien commented on #171
Invitation sent to @chatelao ; he will automatically have admin rights on https://github.com/EqualStreetNames/equalstreetnames-bern 👍

[2021-05-02 20:59] habi opened #191 "MapLibre link in the bottom right goes to Mapbox"
The bottom right of the map shows the MapLibre logo, but the link actually goes to Mapbox, as you can see in the screenshot.

<img width="912" alt="Screenshot 2021-05-02 at 22 54 43" src="https://user-images.githubusercontent.com/1651235/116827551-c944b000-ab99-11eb-949e-d18c842a8ad5.png">

This is not only the case for Brussels, but also for [Bern](https://bern.equalstreetnames.eu/) and several o

[2021-05-03 04:52] jbelien commented on #191
That's indeed still the case in the MapLibre library source code (see https://github.com/maplibre/maplibre-gl-js/blob/c47d053f010fe221a511a44a44333b5d29e447dc/src/ui/control/logo_control.js#L33).

I've commented on the open issue related to the logo : https://github.com/maplibre/maplibre-gl-js/issues/121#issuecomment-831017594

[2021-05-03 04:52] #191 closed

[2021-05-03 06:13] chatelao commented on #171
Thanks for having me.

[2021-05-03 11:00] RMHogervorst commented on #188
Thanks for all the help! it seems to work really well now!

[2021-05-03 11:21] jbelien commented on #188
My pleasure. 😃

I've created a @EqualStreetNames/leiden team. in case you want to merge Leiden with the rest of the cities by transferring your repository under @EqualStreetNames organization. You'll of course stay admin of the repository if you decide to transfer it (see https://github.com/EqualStreetNames/equalstreetnames-template#integrate-your-city-to-the-project)

[2021-05-03 12:04] RMHogervorst commented on #188
awesome! Yes I was going to open an issue for that, but it works just as well in this one!

[2021-05-03 12:13] jbelien commented on #188
I'll make the process updates later today (or tomorrow):

- [ ] Enable automated data process
- [ ] Enable automated website deployment
- [ ] Add city to README
- [ ] Add city to global website (<https://equalstreetnames.be/>)

[2021-05-03 12:33] RobinLinde commented on #188
Started [mapping](https://www.openstreetmap.org/changeset/104057123) as well...

[2021-05-03 12:57] jbelien commented on #188
@RMHogervorst Could you already create a MAPBOX_TOKEN secret variable with your (valid) Mapbox token in your repository : https://github.com/EqualStreetNames/equalstreetnames-leiden/settings/secrets/actions/new ?

[2021-05-03 13:10] RMHogervorst commented on #188
✅  done

[2021-05-03 15:26] jbelien commented on #188
Website is live: https://leiden.equalstreetnames.eu/en/index.html 🚀
---
Domain name `leiden.equalstreetnames.eu` is "offered" and managed by @RobinLinde.

[2021-05-03 15:29] jbelien commented on #188
I think everything is up and running so I'll close this issue.

[2021-05-03 15:29] #188 closed

[2021-05-04 07:05] 1-Byte opened #192 "New repository for St. Gallen, Switzerland"
After reading @habi's write-up on bringing EqualStreetNames to Berne, I thought I give it a go for [St. Gallen](https://en.wikipedia.org/wiki/St._Gallen). Coincidentally, some members of the parliament asked about the gender distribution of street names in January. Maybe we can even use some of the data for our mapping purposes (see 1-Byte/equalstreetnames-stgallen#1).

I'm happy to transfer the o

[2021-05-04 07:29] jbelien commented on #192
That's AWESOME, welcome on board! 🎉

I've sent you an invite to the @EqualStreetNames/st-gallen team.
Feel free to transfer your repository when it suits you. I'll take care of the last steps when it's transferred.

[2021-05-04 11:17] jbelien commented on #192
I've setup the automated update process and prepared the automated deployment.

Could you add your [Mapbox token](https://docs.mapbox.com/help/getting-started/access-tokens/) in a `MAPBOX_TOKEN` secret variable here : https://github.com/EqualStreetNames/equalstreetnames-stgallen/settings/secrets/actions/new ?

[2021-05-04 12:03] jbelien commented on #192
🚀 Lift off: https://stgallen.equalstreetnames.eu/

---

Domain name `stgallen.equalstreetnames.eu` is provided and managed by @RobinLinde
Let us know if you want to use your own domain name.

[2021-05-04 12:03] #192 closed

[2021-05-04 12:16] jbelien opened #193 "Mapbox token"
Since we have more and more cities joining, which is awesome, Open Knowledge Belgium can't provide a Mapbox token for all the cities.

I've asked to the last 2 cities that joined us (@EqualStreetNames/leiden & @EqualStreetNames/st-gallen) to provide their own token.
The early cities also already provided their own token.

Could the 5 following cities provide their own token and follow the followin

[2021-05-04 12:54] 1-Byte commented on #192
Thank you for the setup!

[2021-05-04 13:52] habi commented on #193
EqualStreetNames/bern has it's own access token in `MAPBOX_TOKEN`

[2021-05-04 13:59] jbelien commented on #193
Thanks @habi !
I've deployed https://bern.equalstreetnames.eu/ using your token and deleted token provided by Open Knwoledge Belgium.
Everything is working fine!

[2021-05-04 14:40] hjoertel commented on #193
Hope I filled it correctly for Halle-Saale, please check - and thanks

Heinz

[2021-05-04 14:52] jbelien commented on #193
Thanks @hjoertel ! Everything is working fine ! 👍

[2021-05-04 20:49] eginhard opened #194 "Add Lausanne, Switzerland"
After Bern and St. Gallen, I'd like to make a start in French-speaking Switzerland as well and created a repository for Lausanne: https://github.com/eginhard/equalstreetnames-lausanne

I can transfer this to the organisation.

[2021-05-04 21:44] RobinLinde commented on #194
First of all, Welcome on board 🎉
Everything seems to look good.
@jbelien will send you an invite for a new team soon, and setup automated deployment.
Ive currently 'reserved' the domain `lausanne.equalstreetnames.eu` , let us know if you want to use another domain.

[2021-05-05 06:53] jbelien commented on #194
Welcome on board @eginhard !

I've sent you an invite to @EqualStreetNames/lausanne !

[2021-05-05 07:17] eginhard commented on #194
Thank you both (and @habi for spreading the word)! I've transferred the repository.

The domain sounds good.

[2021-05-05 07:23] jbelien commented on #194
I'll take care of the last updates later today :)

[2021-05-05 09:25] jbelien commented on #194
Here we go: https://lausanne.equalstreetnames.eu/ 🚀

[2021-05-05 09:25] #194 closed

[2021-05-05 09:53] eginhard commented on #194
Beautiful, thank you!

[2021-05-05 11:28] nitramwin opened #195 "Add link to edit OpenStreetMap directly from the website"
Hi, just a small idea but it would be helpful for the project (and for those looking at the maps) to more quickly add the tags from the main your_city.equalstreetnames.eu site.

One option could be to link to iD on the bottom right of the page.
Even better would be to have an edit button directly on the name of the street has clicked on. In the little dialog box, a link to iD with a pre-filled sug

[2021-05-05 11:52] jbelien commented on #195
Hello @nitramwin ,

That's indeed an excellent idea and would be helpful for the project but it's (currently) out of the scope of the project.

That being said, any help to make it happen is more than welcome.

[2021-05-05 11:56] RobinLinde commented on #195
To be honest I have been thinking of building a dedicated editor, and have some ideas about how that should function.
Somethin simple like a list of streets, a detail page where you select a wikidata entry and just go to the next one.
The hardest thing is finding the time to do it...

[2021-05-05 12:56] RobinLinde commented on #195
<img width="219" alt="firefox_YwJyZm7mr5" src="https://user-images.githubusercontent.com/1395345/117144245-fec3e600-adb1-11eb-980a-05b157db1be3.png">

https://github.com/EqualStreetNames/equalstreetnames/commit/d7d6e9dd69e465dd31d5812e06590347838fdf3e implements a basic version without any regards for element type (or code quality).

[2021-05-05 13:17] jbelien commented on #195
I like it but I would try to keep it a bit more "hidden", a regular user is probably not interested by that function.
Also see https://github.com/EqualStreetNames/equalstreetnames/commit/d7d6e9dd69e465dd31d5812e06590347838fdf3e#r50417173

[2021-05-05 21:49] habi commented on #192
Interesting that St. Gallen is currently at a 50/50 gender-split :)

[2021-05-06 07:58] 1-Byte commented on #192
That's because the only reliable information I could find so far, is about the few streets that actually have a female namegiver ;) Unfortunately, I expect the number of male namegivers to grow substantively.

[2021-05-06 08:18] habi commented on #192
That will be undoubtedly the case, as in most cities.

[2021-05-06 13:52] RobinLinde commented on #195
<img width="374" alt="firefox_HvpqdzEBkP" src="https://user-images.githubusercontent.com/1395345/117309469-bb857800-ae82-11eb-923b-5dabd752b289.png">

I've now got a basic 'editor' that takes an OSM way or relation, gets associated tags and tries to provide a suggestion for a Wikidata entry.  Now it just needs to add the info to OSM...

[2021-05-07 07:23] jbelien commented on #173
I think we're back on track, all cities have successfully been updated this week.

[2021-05-07 07:23] #173 closed

[2021-05-07 09:13] hjoertel commented on #173
Am Freitag, 7. Mai 2021, 09:23:57 CEST schrieb Jonathan Beliën:

Thanks, Danke
 Heinz (equalstreetnames Halle)

[2021-05-07 11:09] RobinLinde commented on #195
<img width="251" alt="firefox_E6SBWpgfVh" src="https://user-images.githubusercontent.com/1395345/117441038-2099a600-af35-11eb-97fd-0649bbeca5bb.png"><img width="241" alt="firefox_iZxHFLWKY0" src="https://user-images.githubusercontent.com/1395345/117441094-2ee7c200-af35-11eb-8c8a-03cf3aa1483c.png">

Able to make changesets now as well, just need to sort out some more error handling and quite a few

[2021-05-07 11:36] jbelien commented on #195
Nice ! Well done @RobinLinde ! 👍

I would also maybe add a `#equalstreetnames` hashtag to the changeset comment so we can easily check the changesets if needed.

[2021-05-08 12:43] #145 closed

[2021-05-08 14:35] RobinLinde commented on #195
Rewrote the complete changeset code today, also includes `#equalstreetnames` in the commment (https://master.apis.dev.openstreetmap.org/changeset/215178). Will publish the code probably later today, have been having some trouble to get it to build properly earlier. Still haven't improved usability that much. Right now the only feedback on whether an edit succeeded is some vague message in the cons

[2021-05-08 14:41] RobinLinde commented on #195
Later today has arrived 😉, I published it over at [RobinLinde/ESN-edit](https://github.com/RobinLinde/ESN-edit). Still needs the same updates though 😐.

[2021-05-09 05:58] jbelien commented on #195
Looking good, let us know when you're looking for feedback ! :)

[2021-05-10 06:16] jbelien commented on #193
Ping @zorae @imlabormitlea-code @ynux @mitmirzutun , could you please have a look at this ? Dankeschön !

[2021-05-10 06:37] zorae commented on #193
@jbelien changed Mapbox token for Freising. Please confirm

[2021-05-14 07:25] #186 closed

[2021-05-14 08:09] jbelien commented on #186
@EqualStreetNames

You can now display "Last update: ..." in your interface.
You can already check it on https://equalstreetnames.brussels/ !
I've also updated the template so it will automatically appear in the new cities, you just have to copy-paste it to add it to your city.

[code]
(see https://github.com/EqualStreetNames/equalstreetnames-template/commit/79a3b3361d5d48b36c8c45c70e4d5cff0ab99db

[2021-05-14 18:31] RobinLinde commented on #195
Just made the first changeset on production server: https://www.openstreetmap.org/changeset/104702072. The version on [edit.equalstreetnames.eu](https://edit.equalstreetnames.eu) should be working enough to do some edits.

There is still a lot of room for improvement, for example the [list](https://github.com/RobinLinde/ESN-edit/blob/master/src/index.ts#L83) of common words it filters isn't that c

[2021-05-15 08:46] jbelien commented on #195
Awesome work @RobinLinde ! 👍

I suggest we close this issue here and use issues on your repository (https://github.com/RobinLinde/ESN-edit/issues).

[2021-05-15 14:58] RobinLinde commented on #195
Might be worth to keep this open, while I do now have a basic editor, there is no proper implementation of a link yet...
Any other issues or problems can indeed be raised there (https://github.com/RobinLinde/ESN-edit), I've also enabled discussions there, seems like a good idea.

[2021-05-15 15:07] jbelien commented on #195
Fair point!

[2021-05-16 20:45] Itchiii opened #198 "Add Brandenburg an der Havel, Germany"
After @hjoertel mapped the key, I got curious and wanted to try the project in my city. Unfortunately, the tag has not yet been used, so I still have a lot to do. But I am also attracted by the historical aspect.

I would like to transfer the project then. Let me know if something is missing or I should do something. I have already created a MAPBOX_TOKEN in the settings.

Repo: https://github.com/

[2021-05-17 05:56] jbelien commented on #198
Awesome! 🎉

I've created a "Brandenburg an der Havel" team so you should be able to transfer your repository.
I'll take care of the last steps once it's transferred.

[2021-05-17 07:24] Itchiii commented on #198
Done

[2021-05-17 07:29] jbelien commented on #198
Thanks, I'll take care of the next steps later today :)

[2021-05-17 12:03] jbelien commented on #198
There you go : https://brandenburg-an-der-havel.equalstreetnames.eu/ 🚀

Domain name is provided and managed by @RobinLinde. Let us know if you want to setup your own domain name.

[2021-05-17 12:03] #198 closed

[2021-05-17 12:53] RobinLinde commented on #198
@jbelien Great! I've already added data to some more streets to test ESN-edit a bit more and added `platz` to the list of common words.

[2021-05-22 14:56] RobinLinde commented on #195
![popup](https://user-images.githubusercontent.com/1395345/119230840-2d65ee80-bb1e-11eb-8130-02aa4d18b20e.png)
![popup](https://user-images.githubusercontent.com/1395345/119230854-41115500-bb1e-11eb-912a-81a17f4f8f99.png)

I have a new, more subtle version of an edit link, that still needs some refinement over in #200.

[2021-05-22 15:39] jbelien commented on #195
Nice, I was indeed thinking something like that. 👍

[2021-05-26 09:28] wjtje opened #202 "Update the style of the website"
Currently the website uses a mix of light and dark colors,
it would be nice if the site was more consistent.

### Currently

![image](https://user-images.githubusercontent.com/33957974/119635986-7ebef800-be14-11eb-9522-f0cbd0efa89f.png)

### Full dark mode

![image](https://user-images.githubusercontent.com/33957974/119636045-8f6f6e00-be14-11eb-80fa-56b0f4fffbce.png)

### Full dark mode with backd

[2021-05-26 09:36] jbelien commented on #202
That's indeed a nice idea, thanks @wjtje ! 👍
I would even suggest to use the browser theme (dark/light) by default with a button to switch to the other theme.

Would you have time to submit a PR for this ?

[2021-05-26 11:36] #195 closed

[2021-05-26 11:37] jbelien commented on #195
Link will appear automatically after next update for each city ! 🚀

[2021-05-26 19:56] wjtje commented on #202
I've got the browser theme working now but implementing the button to switch the theme and changing the map theme would require modification to each city's index.html.

[2021-05-26 20:35] CaptainInler opened #204 "Zurich repository ready for adding"
[Zurich (Q72)](https://www.wikidata.org/wiki/Q72) would be happy to be a part on this project.. :-)
The repo to copy is here: https://github.com/CaptainInler/equalstreetnames-zurich

[2021-05-26 20:49] habi commented on #204
Awesome @CaptainInler :)

*Happy to have helped with the initial setup*

[2021-05-27 06:06] jbelien commented on #204
Awesome ! Welcome @CaptainInler !

I've sent you an invite to join @EqualStreetNames/zurich !
Once you joined the team you will be able to transfer the repository (if you choose to do so).

[2021-05-27 06:08] jbelien commented on #202
Definitely not an issue!
You can update the `index.html` file from the [template](https://github.com/EqualStreetNames/equalstreetnames-template) (with another PR).
Each city will then decide if they apply the update or not.

[2021-05-27 07:07] CaptainInler commented on #204
@jbelien Thank you for the invitation. Transfering the repo is on its way. Hopefully I did it right...

[2021-05-27 07:11] jbelien commented on #204
You did it right ! 👍

I'll take care of the next steps later today.

[2021-05-27 07:14] jbelien commented on #204
@CaptainInler Don't forget to add your `MAPBOX_TOKEN` here : https://github.com/EqualStreetNames/equalstreetnames-zurich/settings/secrets/actions/new

[2021-05-27 07:34] habi commented on #204
@CaptainInler:  > Don't forget to add your `MAPBOX_TOKEN`

This was the 'thing' that I mentioned yesterday that is not specified in the template :)
Details are specified here: https://github.com/EqualStreetNames/equalstreetnames/issues/193

[2021-05-27 07:40] CaptainInler commented on #204
```MAPBOX_TOKEN``` is created 👍

[2021-05-27 07:59] jbelien commented on #204
I'll indeed update the README with that information. 👍

[2021-05-28 06:11] jbelien commented on #204
There you go : https://zurich.equalstreetnames.eu/ 🚀

[2021-05-28 06:11] #204 closed

[2021-05-29 19:45] Itchiii opened #206 "Add Dresden, Germany"
Here we go with Dresden: https://github.com/Itchiii/equalstreetnames-dresden

Mapbox Token is set.

I had adjusted the overpass queries to exclude ways in "Dresdner Heide", because they are named with numbers or refs. But not are officials streets. If I found a way with a name of a person in Dresdner Heide, I will add it manually in overpass to show it on map. It is not enough if this particular p

[2021-05-30 07:16] jbelien commented on #206
Nice, you've been added to @EqualStreetNames/dresden !

I'll setup the automated process once the repository is migrated.

Maybe you could just filter out all the `highway=path`.
You could also use the `exclude` arrays in `config.php`.

Indeed, if the relation or way is not fetched by the Overpass query, it will not be processed (no matter if it's referenced in `config.php` or `data.csv` or not).

[2021-05-30 08:34] Itchiii commented on #206
Repo is transferred.

At the moment I take all path and tracks from the Dresdner Heide. If I do this all over Dresden, then definitely paths named after people will be excluded.

This affects over 200 paths, so the effort would be very high.

[2021-05-30 09:13] jbelien commented on #206
🚀 <https://dresden.equalstreetnames.eu>

[2021-05-30 09:13] #206 closed

[2021-05-31 06:01] jbelien opened #207 "🐛 Loss of information (streets not related to a person)"
My last update(s) seem to have broken something, we lost in every city the wikidata reference in `other.csv`.

I'll have a look ASAP !

[2021-05-31 06:43] #207 closed

[2021-06-02 19:48] CaptainInler commented on #204
@jbelien could you please add sstuder to the zurich team?

[2021-06-03 06:15] jbelien commented on #204
Sure, I've sent the invite to @sstuder 😃

You're "maintainer" of @EqualStreetNames/zurich , you also have the right to add/remove members: https://github.com/orgs/EqualStreetNames/teams/zurich/members

[2021-06-03 16:35] jbelien commented on #193
It's been a month so I deleted Open Knowledge Belgium token used by Munich and Leipzig and opened dedicated issue in their own repository. Baselayer for those cities is now not displaying anymore (until the Mapbox token is updated).

[2021-06-03 16:35] #193 closed

[2021-06-05 11:23] CaptainInler commented on #204
Thanks for sending the invitation :raised_hands:
As far as I see, it is not possible for me to add members who are not member of the organisation. Thats the message when I try to add members:
![add member message](https://user-images.githubusercontent.com/16583617/120890072-dd4c5900-c600-11eb-9a55-7ec6a1c6d67d.png)

[2021-06-05 13:41] jbelien commented on #204
@CaptainInler Sorry about that, you're absolutely right.

I misunderstood the permissions allowed for a team maintainer.
It's indeed limited to "Add organization members to the team" (see https://docs.github.com/en/organizations/managing-peoples-access-to-your-organization-with-roles/giving-team-maintainer-permissions-to-an-organization-member)

[2021-06-06 07:53] jbelien opened #231 "Website upgrade"
Let's use the PR #203 to update a few more things in the website since it might have an impact on the templates.

- [x] 1. Merge #219 to upgrade to [Bootstrap v5](https://getbootstrap.com/docs/5.0/)
- [x] 2. Make required changes following upgrade to [Bootstrap v5](https://getbootstrap.com/docs/5.0/) (see #232 + https://github.com/EqualStreetNames/equalstreetnames-template/pull/5)
- [x] 3. Merge #

[2021-06-06 16:35] imlabormitlea-code commented on #193
Hei,
sorry for being that late. Was a bit of a busy time and I'm sorry having disappointed you Jonathan with being unreliable. I've added a token now. Is everything alright with it?
Best Lea

[2021-06-06 18:29] jbelien commented on #193
No worries, danke @imlabormitlea-code ! Everything is back on track for https://leipzig.equalstreetnames.eu/ 👍

[2021-06-07 06:55] RobinLinde commented on #231
@jbelien
[These](https://github.com/EqualStreetNames/equalstreetnames-groningen/commit/acd27db9009365e9eb14a429452d30a95f400336) are the changes I've currently made for compatibility with Bootstrap 5.
In short:

- Change `*-right` to `*-end`
- Change `ml-auto` to `ms-auto`
- Change `data-*` to `data-bs-*`
- Add a container to the navbar
- Updated close button for modal

Popup would probably also n

[2021-06-12 14:53] #202 closed

[2021-06-12 16:03] jbelien commented on #231
Upgrades have been deployed for Brussels ! 🚀
Updating all the other cities right now! 💪

[2021-06-12 18:33] jbelien commented on #231
Took a while but all repositories have been update and PR have been opened !

[2021-06-12 18:34] jbelien commented on #231
Ping me if there is any issue !

[2021-06-12 18:34] #231 closed

[2021-06-17 10:53] RobinLinde opened #236 "Build failing for Assen, Groningen and Munich"
Build fails and gives an empty result, error seems to be in the main `index.html`.
`/XX/index.html` should be `./XX/index.html`, will fix it for Assen and Groningen, but probably also needs to be done for @EqualStreetNames/munich.

[2021-06-17 11:04] jbelien commented on #236
Thanks for the notice!
I'll have a look ASAP !

[2021-06-18 07:07] MichalPP commented on #176
fyi, I've imported quite a lot of etymology tags into OSM in Slovakia and surrounding areas.

now for the presentation part. I still think that creating individual repos for each of the 200+ cities is not a viable solution (even when adding one-by-one). maybe a script that will create websites for each of them (with the added benefit of updated translations).

first nice examples would be [Piešťan

[2021-06-18 07:30] jbelien commented on #176
Awesome!

I'll start with Bratislava 😃
I've sent you an invite to @EqualStreetNames/bratislava

[2021-06-19 07:37] #236 closed

[2021-06-19 07:42] jbelien commented on #236
Everything is back on track !
Fix has been deployed.

[2021-06-19 13:09] jbelien commented on #176
I've created https://github.com/EqualStreetNames/equalstreetnames-bratislava

@MichalPP Could you update [`MAPBOX_TOKEN`](https://github.com/EqualStreetNames/equalstreetnames/settings/secrets/actions/MAPBOX_TOKEN) secret with a valid Mapbox token so I can deploy the website ?

[2021-06-24 14:31] MichalPP commented on #176
I don't have a mapbox_token (nor mapbox account). I've even created my own [vector server](https://www.palenik.eu/star-trek) to avoid creating mapbox account...

[2021-06-24 14:36] jbelien commented on #176
@MichalPP Could you create a Mapbox account for this purpose (it should stay below the free limit ; that's the case for all the other cities) ? Thanks.

[2021-07-11 21:06] ynux commented on #193
Sorry that we are so late, i overlooked the message. Updated it now.

[2021-07-12 06:45] jbelien commented on #193
@ynux No worries, everything is fixed now : https://munich.equalstreetnames.eu/

[2021-08-15 17:11] starsep opened #293 "Warsaw, Poland"
Repo is here: https://github.com/starsep/equalstreetnames-warsaw
I would like to `Transfer your repository to the EqualStreetNames organization.` with `an automated data update`.

Current stats: (I intend to improve the OSM data in the near future)
Male (cis) | 51 | 92.73 %
Female (cis) | 4 | 7.27 %
Male (trans) | 0 | 0 %
Female (trans) | 0 | 0 %
Out of 5533 streetnames, 55 (0.99%) have been found

[2021-08-16 06:38] jbelien commented on #293
Awesome! Welcome on board @starsep !

I've sent you an invite to @EqualStreetNames/warsaw ; once you accept it, you'll be able to transfer your repository, then I'll take care of the next steps.

[2021-08-16 15:35] #293 closed

[2021-08-16 15:40] jbelien commented on #293
The automated update is [running](https://github.com/EqualStreetNames/equalstreetnames-warsaw/actions/workflows/update-data.yml) and will be automatically triggered every Thursday at 7:00 UTC.

The automated deployment is [setup](https://github.com/EqualStreetNames/equalstreetnames-warsaw/actions/workflows/deploy.yml) and will be automatically triggered after each update.

[2021-08-16 15:44] jbelien commented on #293
🚀 https://warsaw.equalstreetnames.eu/

[2021-08-17 11:03] RobinLinde opened #302 "Build failing"
Got a push-notification that Brandenburg, Dresden, Freising, Halle, Leipzig and Munich seem to be down. Looks like the build failed ([example for Dresden](https://github.com/EqualStreetNames/equalstreetnames-dresden/runs/3346915923?check_suite_focus=true#step:5:11)), but the build step succeeded, deploying an empty site.

[2021-08-17 11:28] jbelien commented on #302
Thanks for the notification @RobinLinde !

I guess it's caused by one of the dependency updates from yesterday.
I'll investigate ASAP.

[2021-08-17 15:43] jbelien commented on #302
Okay, issue was caused by the upgrade of Parcel from 2.0.0-beta.2 to 2.0.0-rc.0 ! 🐛

I fixed it for Brussels now I have to check/fix all the other cities.

[2021-08-17 15:46] jbelien commented on #302
- [x] belgium/brussels
- [ ] belgium/braine-lalleud
- [ ] belgium/brugge
- [ ] belgium/gent
- [ ] belgium/leuven
- [ ] belgium/liege
- [ ] belgium/mons
- [ ] belgium/namur
- [ ] belgium/nivelles
- [ ] germany/berlin
- [ ] germany/freising
- [ ] germany/halle-saale
- [ ] germany/leipzig
- [ ] germany/munich
- [ ] germany/brandenburg-an-der-havel
- [ ] germany/dresden
- [ ] netherlands/assen
- [ ] n

[2021-08-17 17:02] jbelien commented on #302
https://github.com/EqualStreetNames/equalstreetnames-template has also been fixed.

[2021-08-17 17:03] jbelien commented on #302
@RobinLinde Thanks again for the notice! Everything should be back on track!

I'll keep an eye on the weekly updates in the following days.
Keep me updated if something is still broken by reopening this issue.

[2021-08-17 17:03] #302 closed

[2021-08-19 18:36] Sequynth opened #303 "Freiburg im Breisgau, Germany"
Hey, I started to add wikidata to streets in Freiburg. Please add my repository to the project: https://github.com/Sequynth/equalstreetnames-freiburg-im-breisgau

[2021-08-19 19:18] jbelien commented on #303
Welcome on board @Sequynth !

I've sent you an invite to @EqualStreetNames/freiburg-im-breisgau ; once you've accepted the invite you should be able to transfer your repository.

[2021-08-19 19:34] Sequynth commented on #303
I cant find the invite (full disclosure: I also dont know where to look)

[2021-08-19 19:38] jbelien commented on #303
You should have received an email.
You can also try https://github.com/orgs/EqualStreetNames/invitation

[2021-08-20 06:04] jbelien commented on #303
I'll take care of the next steps!

Meanwhile could you add your `MAPBOX_TOKEN` in the repo secrets (see https://github.com/EqualStreetNames/equalstreetnames-template#integrate-your-city-to-the-project)

[2021-08-20 06:05] jbelien opened #304 "Add submodule"

[2021-08-20 06:05] jbelien commented on #304
Test gone wrong! 🤣

[2021-08-20 06:18] #304 closed

[2021-08-20 06:28] jbelien opened #305 "Going down to monthly updates"
I think most of cities (except the 2 new ones) don't need a weekly update anymore, most data is already there and cities are not actively updated anymore.

I would like to set a monthly update (instead of a weekly update).

What's your opinion on this @equalstreetnames ?

[2021-08-20 06:52] jbelien commented on #303
You can follow the progress of the deployment here: #306

[2021-08-21 07:16] #303 closed

[2021-08-21 07:19] jbelien commented on #303
🚀 https://freiburg-im-breisgau.equalstreetnames.eu/

[2021-08-21 19:01] Sequynth opened #307 "highway=proposed is rendered"
I realized that proposed highways are drawn in the equalstreetnames style, e.g. (https://www.openstreetmap.org/way/836131873#map=18/47.99088/7.85495) is visible (https://freiburg-im-breisgau.equalstreetnames.eu/en/index.html#18/47.99088/7.85495).

Im not sure if this is a deliberate choice, to show where progress is being made, but I find it rather confusing, especially since the name is not shown

[2021-08-23 06:44] jbelien commented on #307
Definitely not on purpose but I guess there was no `highway=proposed` in the other cities.
I'll update https://github.com/EqualStreetNames/equalstreetnames-template in the next few days to filter it out but you can already make the update for your city by updating the [Overpass queries](https://github.com/EqualStreetNames/equalstreetnames-freiburg-im-breisgau/tree/master/overpass).

[2021-08-25 14:38] Itchiii commented on #305
@jbelien Is it possible to update certain cities still weekly, others monthly. So to specify exactly which ones are updated at which time? I have not changed Dresden for a long time, but I am not finished yet (around 50% is finished ).

[2021-08-25 14:39] jbelien commented on #305
Noted! I'll keep weekly updates for Dresden. 👍

[2021-09-01 12:55] ArturLange opened #308 "Chorzów, Poland"
Repo is here: https://github.com/ArturLange/equalstreetnames-chorzow
I would like to `Transfer your repository to the EqualStreetNames organization` with `an automated data update`.

Male (cis) | 124 | 91.85 %
Female (cis) | 11 | 8.15 %
Male (trans) | 0 | 0 %
Female (trans) | 0 | 0 %

Out of 400 streetnames, 135 (33.75%)have been found to be named after a person.

[2021-09-01 13:05] jbelien commented on #308
Awesome!

You should have received an invitation to join @EqualStreetNames/chorzow.
Once you joined the team, you will be able to transfer your repository.

If it's not already done, don't forget to add your `MAPBOX_TOKEN` secret.

[2021-09-01 16:19] ArturLange commented on #308
Accepted and transferred.
Can't add secrets yet though.
`MAPBOX_TOKEN` should be set in GitHub secrets, right?

[2021-09-02 06:17] ArturLange commented on #308
Thank you!
Added it.

[2021-09-02 06:39] #308 closed

[2021-09-02 06:43] jbelien commented on #308
Deployment to https://chorzow.equalstreetnames.eu/ is on its way!

[2021-09-02 06:59] jbelien commented on #308
Done! 🚀

[2021-09-16 09:27] vwestric opened #327 "Adding Mainz, Germany"
Hello, we would like to add the city of Mainz  to your project by transferring ownership to you. Here is our repository: https://github.com/BerenikeRe/equalstreetnames-mainz

[2021-09-16 09:31] jbelien commented on #327
Awesome! Welcome on board @vwestric !

You should have received an invite to join @EqualStreetNames/Mainz.
Once you join the team you should be able to transfer your repository to @EqualStreetNames organization.

[2021-09-16 09:33] jbelien commented on #327
I also sent an invite to @BerenikeRe to join @EqualStreetNames/mainz.

Who will be the "main" maintainer ?

[2021-09-16 09:36] vwestric commented on #327
@jbelien Thank you! @BerenikeRe will be main maintainer.

[2021-09-16 09:52] BerenikeRe commented on #327
I transferred the repository to EqualStreetNames.

[2021-09-16 10:00] jbelien commented on #327
Thanks! I'll take of the next few steps ASAP in the next few days. 😃

[2021-09-16 16:35] #327 closed

[2021-09-16 16:45] jbelien commented on #327
Here you go : https://mainz.equalstreetnames.eu/ 🚀

[2021-09-22 15:06] Sequynth opened #340 "Recently updated websites are not available"
Repositories that have been updated recently are not acessible from the web using https://cityname.equalstreetnames.eu/

e.g. Leiden, Groningen, Assen, Mainz, Freiburg im Breisgau, ...

[2021-09-22 16:18] jbelien commented on #340
Thanks for the notice @Sequynth ; I'll have a look ASAP (probably this weekend).

[2021-09-23 06:59] RobinLinde commented on #340
Should (at least partially) be fixed by this PR in Parcel: https://github.com/parcel-bundler/parcel/pull/6784 Related issue: https://github.com/parcel-bundler/parcel/issues/6893

[2021-09-27 14:49] chatelao commented on #340
Thanks @RobinLinde and @jbelien for having a look - Greetings from Bern

[2021-09-28 13:14] jbelien commented on #340
Thanks @RobinLinde for you Pull Request (#339), that should avoid me breaking everything by upgrading a library.
I downgraded the libraries that were causing the issue.
Everything should be back in a few days when the next update is triggered !
I'll keep this issue open until then.

[2021-09-28 13:27] jbelien commented on #305
I've decided to go to monthly update for **all** cities !

If you want to have more regular updates (weekly/daily/...), you're of course free to do so but please use your own personal `ACCESS_TOKEN` (see your repository secrets in your repository settings).
I've updated the equalstreetnames-template README file (see https://github.com/EqualStreetNames/equalstreetnames-template/commit/a53ec5f5d44e0

[2021-09-28 13:27] #305 closed

[2021-09-28 16:42] Sequynth commented on #340
Yes, looks good to me too. Thanks! :)

[2021-09-28 16:42] #340 closed

[2021-09-28 17:29] chatelao commented on #340
Great - Thank you very much

[2021-10-02 23:06] starsep opened #354 "Geojsons served without gzip compression"
It seems that geojsons are served without gzip compression at *.equalstreetnames.eu
![image](https://user-images.githubusercontent.com/2798728/135733761-946dada8-6ec4-4400-8af2-dc5ef26740b4.png)
![image](https://user-images.githubusercontent.com/2798728/135733728-0d06357c-427f-4a50-8e6a-ba0c55d76f87.png)
![image](https://user-images.githubusercontent.com/2798728/135733730-d7b8b923-b2ec-46ae-bd3e-7

[2021-10-03 10:22] jbelien commented on #354
The `equalstreetnames.eu` subdomains are the only one using Cloudlflare proxy and that's indeed probably why it's not compressed.

I'll update the Cloudflare configuration and disable the proxy so all websites hosted on GitHub pages are handled the same way.

`naziviulica.openstreetmap.rs` is managed by @stalker314314 , you should check with him.

[2021-11-08 22:02] CaptainInler opened #377 "Pop-Up fails on Squares"
Pop-Up fails to show on Squares.
EG:
- https://www.openstreetmap.org/way/892888816
- https://www.openstreetmap.org/way/41832665
- https://www.openstreetmap.org/way/776702917

Browserconsole Error:
`Uncaught Error: Unimplemented type: 4`

[2021-11-09 07:22] jbelien commented on #377
THanks @CaptainInler, I'll have a look.

[2021-11-16 21:43] CaptainInler opened #378 "Link to popup"
It would be nice to have the ability to get the url-link of street's or there Pop-Up.
The Intention is to be able to send the Information of a certain named street to someone so this person will see the popup and the position immediately on the map. Until now they need to know where the street is or to crosssearch on an other map.

[2021-11-23 08:55] u6CqmdfBgm opened #379 "Adding Rastede, Germany"
Hi, I would like to add the city of Rastede to your project by transferring ownership to you. Here is my repository: https://github.com/u6CqmdfBgm/equalstreetnames-rastede That's my first steps with github, I hope anything is fine.

[2021-12-01 05:13] u6CqmdfBgm commented on #379
Hi, do you need any more information? Or is anything fine?

[2021-12-01 07:33] jbelien commented on #379
Hello @u6CqmdfBgm ,

Welcome on board.
You've been invited to join @EqualStreetNames/rastede
Once you joined the team, you'll be able to transfer the ownership of your repository to @EqualStreetNames.

I'll take care of the next steps when your repository is transfered and I have some free time.

[2021-12-01 07:50] u6CqmdfBgm commented on #379
Hi, I transferred the repository to EqualStreetNames. Thank you.

[2021-12-01 07:58] jbelien commented on #379
Perfect, I'll take care of the next steps when I have some free time.

[2021-12-22 10:25] mattsches opened #396 "Add Wiesbaden, Germany"
Hi, I'd like to add Wiesbaden, Germany to this wonderful project. The repo can be found here: https://github.com/mattsches/equalstreetnames-wiesbaden

[2021-12-22 10:37] jbelien commented on #396
Hello @mattsches, you should have received an invite to join @EqualStreetNames/wiesbaden.

Once you've joined you should be able to transfer your repository.

[2021-12-22 14:13] mattsches commented on #396
Repository transfered!

[2021-12-22 14:23] jbelien commented on #396
Perfect, I'll take care of the next steps when I have some free time.

[2021-12-22 14:46] mattsches commented on #396
Thank you! :smiley:

[2022-01-03 11:12] Itchiii opened #410 "Pop-up is not displayed"
After clicking on some streets (cursor: pointer), no popup appears. The console shows the following error.

You can test it here on "[Spittastraße](https://brandenburg-an-der-havel.equalstreetnames.eu/de/index.html#16.7/52.415904/12.529427)"

[code]

[2022-01-03 11:16] Itchiii opened #411 "Mousemove Error"
If I move the mouse over the map. The console is full of errors:

* `Uncaught Error: Unimplemented type: 6` and type 3, 4 and 5
* `Uncaught Error: unknown command 5`

Tested here: https://brandenburg-an-der-havel.equalstreetnames.eu/de/index.html

[2022-01-09 16:45] stijnhuy opened #412 "Add Antwerp, Belgium"
Hi, i started adding name:etymology:wikidata tags in OSM for Antwerp a couple of weeks ago.
I made a repository: https://github.com/stijnhuy/equalstreetnames-antwerp
Can this be added to this cool project?

[2022-01-09 17:13] jbelien commented on #412
Nice, welcome @stijnhuy !

You should have received an invite to join @EqualStreetNames/antwerp
Once you've joined, you'll be able to transfer your repository to @EqualStreetNames and I'll take care of the last steps.

[2022-01-09 19:23] #379 closed

[2022-01-09 20:23] jbelien commented on #379
🚀 Deployed: https://rastede.equalstreetnames.eu/

[2022-01-09 20:45] #396 closed

[2022-01-09 21:03] jbelien commented on #396
🚀 Deployed: https://wiesbaden.equalstreetnames.eu/

[2022-01-10 06:45] jbelien commented on #412
Don't forget to add `MAPBOX_TOKEN` in your [repository secrets](https://github.com/EqualStreetNames/equalstreetnames/settings/secrets/actions) (see https://github.com/EqualStreetNames/equalstreetnames-template#integrate-your-city-to-the-project).

⚠️ For consistency with the other cities in Belgium, I renamed your repository to [`EqualStreetNames/equalstreetnames-antwerpen`](https://github.com/Equ

[2022-01-10 17:21] #412 closed

[2022-01-10 18:06] jbelien commented on #412
🚀 Deployed: https://antwerpen.equalstreetnames.be/

2 remarks:
- Separator in `data.csv` was incorrect (`;` instead of `,`)
- `MAPBOX_TOKEN` is not a valid Mapbox token (see https://docs.mapbox.com/help/getting-started/access-tokens/), please update it

[2022-01-10 19:02] jbelien commented on #410
I've upgraded the dependencies and rebuilt https://brandenburg-an-der-havel.equalstreetnames.eu/
It seems to be fixed ; re-open this ticket if the issue is still there.

[2022-01-10 19:02] #410 closed

[2022-01-10 19:03] jbelien commented on #411
I've upgraded the dependencies and rebuilt https://brandenburg-an-der-havel.equalstreetnames.eu/
It seems to be fixed ; re-open this ticket if the issue is still there.

[2022-01-10 19:03] #411 closed

[2022-01-10 19:15] jbelien commented on #377
I've upgraded the dependencies and rebuilt https://zurich.equalstreetnames.eu//
It seems to be fixed ; re-open this ticket if the issue is still there.

[2022-01-10 19:15] #377 closed

[2022-01-11 16:18] Itchiii commented on #410
Also appears on other pages like: https://dresden.equalstreetnames.eu/ and https://leipzig.equalstreetnames.eu/
Maybe more pages need a rebuild.

[2022-01-11 18:19] jbelien commented on #410
Fair point!
I've updated Dresden and Leipzig but there are now too many cities to do it all by myself.
All the maintainers can re-run the last "Deploy" GitHub Actions workflow to rebuild the website.

Otherwise, it will be automatically rebuild with the next data update next month (01/02 and 02/02).

[2022-01-15 21:03] CaptainInler opened #427 "Streets in a OSM-Relation are not displayed"
OSM-Street's that are member of a Relation wont get rendered in the Map.

Example:
Wyssgasse
- https://www.openstreetmap.org/way/5944788
- https://zurich.equalstreetnames.eu/de/index.html#18.41/47.373802/8.525517

Stauffacherstrasse
- https://www.openstreetmap.org/way/11917566
- https://zurich.equalstreetnames.eu/de/index.html#18.1/47.378372/8.520375
-> The northwestern Part of this street is not

[2022-01-15 21:56] jbelien commented on #427
Strange, for Brussels most of the streets are also relations with `type=associatedStreet` and it works just fine.
I'll need to investigate.

Can you check that your Overpass queries extract correctly those streets ?

[2022-01-18 19:31] CaptainInler commented on #427
The Overpass query works. But somehow most of the geometries in relations.geojson do not have there wikidata tag anymore. There is also [Hallwylstrasse](https://www.openstreetmap.org/relation/2956736) in Bern with the same issue.
I tried to figure out how to run your processing toolchain, but I didn't succeed.

[2022-01-18 20:21] jbelien commented on #427
Thanks for your feedback @CaptainInler !

I'll have a look when I have some free time.

[2022-02-08 13:15] metaodi commented on #427
I'm not sure if this helps: but I checked the [relation of Wyssgasse](https://www.openstreetmap.org/way/5944788) and added the `name:etymology:wikidata` attribute directly on the relation (rather than on the way *in* the relation) and this seems to do the trick. At least looking at the [map](https://zurich.equalstreetnames.eu/de/index.html#18.41/47.373802/8.525517) now, Wyssgasse is rendered.

[2022-02-08 14:28] jbelien commented on #427
Nice, thanks for the update @metaodi 👍

@CaptainInler Could you check again and let me know if this is still an issue ? Thanks.

[2022-02-09 08:40] mattsches opened #450 "How to tag streets named after multiple people?"
Not an issue per se, and probably more an OSM-related topic: There are streets in our city that are named after _multiple_ people, e.g. after siblings. It's either explicit ("[Geschwister-Scholl-Straße](https://en.wikipedia.org/wiki/Hans_and_Sophie_Scholl)") or implicit (just a surname, but the municipal archiv suggests the street is named after two brothers).

According to the [OSM wiki](https://

[2022-02-09 08:52] jbelien commented on #450
Multiple values are already handled in the data process ; separating the Wikidata items identifier with a semicolon in `name:etymology:wikidata` is indeed the way to go!

Here is an example in Brussels: https://www.openstreetmap.org/relation/3393466

[2022-02-09 09:30] mattsches commented on #450
Wow, I really should have looked at the code first! Thanks for the quick answer and the example, we will map the affected streets accordingly. 🙂

[2022-02-09 09:30] #450 closed

[2022-02-15 22:14] CaptainInler commented on #427
@jbelien Yes this did the trick.

[2022-02-15 22:14] #427 closed

[2022-02-28 14:26] BerenikeRe opened #455 "Kaiserslautern (Germany) is ready"
Hello everyone!
I just finished updating & uploading everything for the streets of Kaiserslautern, Germany. You can look at it here: https://github.com/BerenikeRe/equalstreetnames-kaiserslautern
I would like to transfer the repository to the EqualStreetNames organization.
Best wishes from Mainz
Berenike

[2022-02-28 14:35] jbelien commented on #455
Thanks @BerenikeRe !
I'll set up the team so you can transfer the repository ASAP ; stay tuned 😄

[2022-03-01 18:50] jbelien commented on #455
Done: @EqualStreetNames/kaiserslautern
You can now transfer the repository.

[2022-03-03 23:20] BerenikeRe commented on #455
I think (and hope) I transfered it the right way :)

[2022-03-04 14:22] jbelien commented on #455
You did 👍
I'll take care of the next steps.

Could you already add a valid Mapbox token in the [repository secrets](https://github.com/EqualStreetNames/equalstreetnames-kaiserslautern/settings/secrets/actions) (see [documentation](https://github.com/EqualStreetNames/equalstreetnames-template#integrate-your-city-to-the-project)) ?

[2022-03-04 14:53] jbelien commented on #455
Everything is ready, we just need the Mapbox token to display the map and once it's done I'll be able to finish the setup to publish the website.

[2022-03-04 20:36] BerenikeRe commented on #455
Thank you Jonathan! I added the Mapbox token.

[2022-03-05 08:14] #455 closed

[2022-03-05 08:23] jbelien commented on #455
🚀 And it's now deployed: https://kaiserslautern.equalstreetnames.eu/en/index.html

Welcome on board! Keep on the good work!

[2022-03-22 11:15] Theklan opened #486 "Add Bilbao"
Hello! In a couple of weeks we will be running a map-a-thon in Bilbao, and this project seems cool. I have made all the changes necessary at https://github.com/Theklan/equalstreetsnames-bilbao. Could you integrate it, please?

Thanks!

[2022-03-23 08:06] jbelien commented on #486
Hello @Theklan , welcome on board!

You should have received an invite to join @EqualStreetNames/bilbao ; once you joined, you will be able to transfer your repository to @EqualStreetNames and I'll take care of the next steps.

[2022-03-23 11:19] 62mkv opened #487 "Add Tallinn, Estonia"
Hi, I have not done item # 5 from the template Readme (not sure where would such CSV be coming from, or in which cases I might want to create it manually - maybe this could be elaborated a bit in the README) ?

Can you please take a look at https://github.com/62mkv/equalstreetnames-tallinn and let me know what else needs to be done, in order to have it integrated? Thanks

[2022-03-23 11:28] jbelien commented on #487
Hello @62mkv  , welcome on board!

You should have received an invite to join @EqualStreetNames/tallinn ; once you joined, you will be able to transfer your repository to @EqualStreetNames and I'll take care of the next steps.

---

About item #5 (CSV file), don't worry about it, it's not a requirement.
Some cities stored their data in CSV file before adding it to Wikidata/OpenStreetMap and so I p

[2022-03-23 11:30] 62mkv commented on #487
by the way, if I run the "relations-full" Overpass query, it gets me mostly this:
![image](https://user-images.githubusercontent.com/5255127/159689544-60fb601b-1989-47c6-9a87-0244998c690d.png)

does not seem to make any sense, those are basically parking places in the middle of nowhere, but somehow they like dominate in the results, because they have relation to Tammsaare tee, which is named after

[2022-03-23 12:40] 62mkv commented on #487
repository is transferred, by the way

[2022-03-23 13:24] jbelien commented on #487
Relation https://www.openstreetmap.org/relation/1575115
This seems correct. These are not parking space but houses (or buildings).
The `associatedStreet` usually also contains the street itself but not it this case.
Not a big issue, since the street is not in that relation, the relation won't be used by EqualStreetNames.

Thnaks, I'll take care of the next steps.
Don't forget to add you `MAPBOX_TO

[2022-03-23 14:01] #487 closed

[2022-03-23 14:16] jbelien commented on #487
Deployed: https://tallinn.equalstreetnames.eu/ 🚀

[2022-03-23 14:26] 62mkv commented on #487
Oh, I probably see now.. a Way can participate in Relations, and Relations can then have attributes too! thanks!

[2022-03-23 14:37] jbelien commented on #487
Yep, I've done everything I can, now it's up to you to update the data (in OpenStreetMap and Wikidata).
The repository will be automatically updated every month (on the 2nd).

You will indeed need to add the wikidata tags on ALL the ways in a street.
That's why some cities in the world use `associatedStreet` relations to combine all the ways into one single "object".
See https://wiki.openstreetmap

[2022-03-23 14:47] 62mkv commented on #487
hmmmm... so, this, for example, https://www.openstreetmap.org/relation/8834740#map=17/59.43561/24.75751 by itself will not be sufficient then? this Relation has "name", it has "wikidata" tag, and the item in question has "named after" property that resolves as a person/male. I'd think this should suffice, no?

[2022-03-23 15:04] jbelien commented on #487
That's indeed possible but AFAIK that option was never used by any city in the project.
For huge cities that could make sense to reduce the size of GeoJSON file to download but it don't think it's necessary to do it for Tallinn considering its size.

[2022-03-23 15:10] 62mkv commented on #487
I've tried with "routes" and it seems to work, however it also returns many (if not all) of the international routes:

[code]

however, I believe we should be able to live with that. I will try to update data locally and then will present a PR if it works

[2022-03-23 15:13] jbelien commented on #487
Maybe you could add an extra filter on `network=ee:local`

[2022-03-23 15:27] 62mkv commented on #487
I've tried to collect data again, and it's a bit better, but still, I am not sure I follow. For example, in `relations.geojson` we have such relation:
[code]

and that wikidata item https://www.wikidata.org/wiki/Q62505358 has `named after` property set to https://www.wikidata.org/wiki/Q160888

but the script puts it in `other.csv`, without any reference to wikidata or gender. What is still missing

[2022-03-23 15:31] jbelien commented on #487
At first sight, it should indeed work ...
I've built that process a while back ; I'll need to investigate.

[2022-03-23 15:41] jbelien commented on #487
I just tried locally and it works fine!

[code]

[code]

[2022-03-23 15:45] 62mkv commented on #487
hmm, I had almost the same. but without "associatedStreet". let me try once more with your query.

[2022-03-23 15:54] 62mkv commented on #487
this is *very* strange. I've pasted your query literally; and this relation is still in the `other.csv`, and this is my _whole_ `gender.csv`(I've cleaned up `data` folder before running update-data script):

[code]

[2022-03-23 15:55] 62mkv commented on #487
as if my computer somehow gets outdated wikidata items... I also see that you have retrieved information on `Ado Reinvaldi` that I have added today (on Wikidata) as well

[2022-03-23 16:14] 62mkv commented on #487
indeed; this helped. maybe should me mentioned in command docs somehow

[2022-03-27 10:13] jbelien commented on #486
Any update on the transfer ?

[2022-03-31 12:18] 62mkv opened #492 "documentation: slight confusion Brussels vs Bruges"
Hi

Just wanted to point out that "Q12994" is not Brussels: it's Bruges :) it's mentioned as Brussels though throughout the template README

[2022-03-31 12:20] 62mkv commented on #487
I am a bit worried about failing pipeline with my latest changes in "tallinn" - it seems that overpass query dies because of timeout, but when I run the same query via Overpass-turbo UI, it seems to work good. could you check it out @jbelien ?

[2022-03-31 12:28] jbelien commented on #492
You're absolutely right.
Thanks for the notice.
It has been updated in https://github.com/EqualStreetNames/equalstreetnames-template/commit/4992874ef3cc3b7c1008ea9aba8d8644cfcf48f6

[2022-03-31 12:28] #492 closed

[2022-03-31 12:37] jbelien commented on #487
Nothing to worry about 😃
It was most probably a temporary issue with Overpass API.
I just restarted the failed GitHub Actions workflow and everything went fine. 👍

[2022-03-31 13:19] 62mkv commented on #487
seems like something is off with the highlighting, data box on the right shows that there're 2 streets named after women but none of them is presented on the map at all!

[2022-03-31 14:53] jbelien commented on #487
Your [`relations.geojson` file](https://github.com/EqualStreetNames/equalstreetnames-tallinn/blob/master/data/relations.geojson) seems indeed to be missing a lot of data.

I'll investigate!

[2022-03-31 15:01] jbelien opened #493 "Make relation processing compatible with `type=route` relations"
But those [`type=route` relations](https://wiki.openstreetmap.org/wiki/Relation:route) don't have a role for the ways member so I'll need to update my data process to be compatible with [`type=route` relations](https://wiki.openstreetmap.org/wiki/Relation:route).

_Originally posted by @jbelien in https://github.com/EqualStreetNames/equalstreetnames/issues/487#issuecomment-1084711790_

[2022-04-01 07:57] #493 closed

[2022-04-01 08:11] jbelien commented on #487
All fixed! 🚀

[2022-04-09 21:29] vdarmsta opened #519 "Ready to add a new city to the project - Rixensart"
Hi,

I have replicated the EqualStreetNames project in my city, Rixensart in Wallonia, following the instruction in the README.md file.

I now would like to add it as new city to the project.

I think best would be that I keep the ownership of my repository.

My repository is here: https://github.com/vdarmsta/EqualStreetNames-Rixensart

Let me know if all is in order or if anything is missing.

Th

[2022-04-10 13:27] jbelien commented on #519
Awesome!
You should have received an invitation to join @EqualStreetNames/rixensart team.
Once you've joined you should be able to transfer your repository to @EqualStreetNames organization and I'll take care of the next steps.

[2022-04-10 20:35] CaptainInler opened #520 "Add Basel, Switzerland"
Hi. Please add Basel to the Project.
The repo to copy is here: https://github.com/CaptainInler/equalstreetnames-basel

[2022-04-11 08:13] jbelien commented on #520
Hello @CaptainInler , you should have received an invite to join @EqualStreetNames/basel !

Once joined, you should be able to transfer your repository to @EqualStreetNames organization and I'll take care of the next steps.

[2022-04-11 17:10] agron2017 opened #522 "Streets with national hero status"
Can you please add a flag called "achievement" just before gender because there some streets are named after heroes or after people with an outstanding achievement regardless of gender.

[2022-04-11 17:17] jbelien commented on #522
That's a good idea indeed but is there such "flag" available in Wikidata ?

[2022-04-11 17:40] agron2017 commented on #522
No but local volunteers can enter that information here.
Automating this will be difficult because some street names have grammatical suffixes or prefixes.
Example Bulevard Bila Klintona in Serbian for a street in Kosova, and Bulevardi i Bill Klintonit in Albanian for the same street.

It is best local activists to do this by hand.

[2022-04-11 20:14] CaptainInler commented on #520
Hi @jbelien. The Repo is transfered. Thanks for your work.

[2022-04-12 12:04] jbelien commented on #520
@CaptainInler Don't forget to add the `MAPBOX_TOKEN` secret!

[2022-04-12 19:10] CaptainInler commented on #520
Mapbox_Token is added

[2022-04-13 07:44] #520 closed

[2022-04-13 08:34] jbelien commented on #520
Deployed: https://basel.equalstreetnames.eu/ 🚀

[2022-04-13 08:56] jbelien commented on #519
Don't forget to add the `MAPBOX_TOKEN` secret !

[2022-04-13 09:15] CaptainInler commented on #520
Cool. @jbelien Thank you so much 🙌

[2022-04-26 15:10] vdarmsta commented on #519
Hi Jonathan, I thought I already replied to you, but not sure it was sent or not.
Anyway, could you help me about how to create the MapBox_Token and also, where to add it? I haven't found that info in the README. What I have found is the link to the Mapbox doc. I followed it and I'm ready to create a token, but not sure what I have to select for the Token Scope and if I can add something in the to

[2022-04-27 06:39] jbelien commented on #519
You can select everything.

![image](https://user-images.githubusercontent.com/1150563/165456404-a1060b67-61d6-4cee-baef-33239ffefe41.png)

You can put `https://rixensart.equalstreetnames.be` in the list of URLs.

Once you have your token, you need to create a `MAPBOX_TOKEN` in your repository secrets.
https://github.com/EqualStreetNames/equalstreetnames-rixensart/settings/secrets/actions (in "Rep

[2022-04-27 21:43] vdarmsta commented on #519
Hi,

Ok, this is done.

Let me know if this works and if there is still something to do on my side.

Best regards,

Vincent

On 27/04/2022 08:39, Jonathan Beliën wrote:

[2022-04-28 07:10] #519 closed

[2022-04-28 07:11] jbelien commented on #519
Data update and deployment are on their way!
I'll take care of the DNS settings this weekend. 😃

[2022-04-28 08:21] jbelien commented on #519
🚀 Deployed: https://rixensart.equalstreetnames.be/

[2022-06-04 13:35] 62mkv opened #585 "Please add estonia-tartu project"
https://github.com/62mkv/equalstreetnames-tartu

[2022-06-04 14:35] jbelien commented on #585
Awesome! 👍

You should have received an invite to join @EqualStreetNames/tartu ;
You can transfer your repository to @EqualStreetNames

[2022-06-07 07:42] jbelien commented on #585
Hello @62mkv ,

The repository is indeed correctly transfered! ✔️

The `MAPBOX_TOKEN` secret is missing and it's indeed required ; you can use the same token you used for Tallinn, you will just have to add it to Tartu repository [settings](https://github.com/EqualStreetNames/equalstreetnames-tartu/settings/secrets/actions).

⚠ If you used "Token restrictions" for the Tallinn token and you use the

[2022-06-07 16:23] 62mkv commented on #522
it would be great if we could also let users choose between aggregations, the default one could be gender-identity based, the other - occupation-based, for example, based on the Wikidata P106 ("occupation") property, also P27 (country of citizenship) could be very interesting...

I understand it's a lot of effort, but it would be much more viral, I suppose, and thus help spread awareness not only

[2022-06-07 16:27] 62mkv opened #586 "Centralized statistics page"
Hi, I would love to be able to see some aggregated stats across all project cities, that would display latest data collected for project, such as:
- basic OSM stats (X ways, Y relations processed)
- basic WikiData stats (Z items retrieved, K named after persons, .. of each gender)

For example, based on 2 Estonian cities I did, and comparing them to some German ones, it's easy to notice that Eston

[2022-06-08 07:54] jbelien commented on #585
You're right! I've fixed it, you now have access to the settings.

It's definitely not a problem to use the same token for both.
But you will have to do it yourself ; you're the only one to know the value of that token.

[2022-06-08 07:55] jbelien opened #587 "Create other kind of aggregation"
it would be great if we could also let users choose between aggregations, the default one could be gender-identity based, the other - occupation-based, for example, based on the Wikidata P106 ("occupation") property, also P27 (country of citizenship) could be very interesting...

I understand it's a lot of effort, but it would be much more viral, I suppose, and thus help spread awareness not only

[2022-06-08 07:59] jbelien commented on #587
Thanks for the suggestion @62mkv !

It's indeed an excellent idea and it's on my mind since the beginning of the project but it's out of the scope of the EqualStreetNames project that's focusing on the gender (dis)balance.

Replicating the existing process and changing the parameters used to create the map is of course totally possible but I won't have time to work on it.

[2022-06-08 08:00] jbelien commented on #586
@RobinLinde has created https://statistics.equalstreetnames.eu/ where you can find some statistics.

[2022-06-09 08:20] 62mkv commented on #585
Ok, I see now; nobody can see the token value on GH; only update or remove.

I've added my MB token for the "tartu" repository as well, let's see how it goes!

[2022-06-09 08:37] jbelien commented on #585
Thanks!
I'll take care of the next steps later this week.

[2022-06-10 06:52] #585 closed

[2022-06-10 07:08] jbelien commented on #585
Deployed: https://tartu.equalstreetnames.eu/ 🚀

[2022-06-13 18:38] 62mkv commented on #586
This page still does not have Tartu, btw :)

[2022-06-13 18:39] #586 closed

[2022-07-17 16:34] Sequynth opened #610 "Last Update failed"
Seems like the update and deploy action at the beginning of this month failed.

https://github.com/EqualStreetNames/equalstreetnames/actions

[2022-07-17 19:27] jbelien commented on #610
Thank you for the notice @Sequynth!
There are indeed several issues.

- [Deploy global website](https://github.com/EqualStreetNames/equalstreetnames/actions/workflows/deploy-global.yml) was failing because of the missing boundaries in Assen, Netherlands ; this is fixed in https://github.com/EqualStreetNames/equalstreetnames-assen/commit/7fa6f581c1a585850105df3de86e2c96185078ef
- Each city specific

[2022-07-22 12:09] jbelien commented on #610
- [x] https://github.com/EqualStreetNames/equalstreetnames-brussels/

[2022-07-22 12:23] jbelien commented on #610
Everything should be working again.
Let me know if I missed a deploy process.

[2022-07-22 12:23] #610 closed

[2022-09-06 16:03] 62mkv opened #615 "Add Tivat, Montenegro"
https://github.com/62mkv/equalstreetnames-tivat

Maybe not the best example, really not too many streets named after people, but I have lived there for some time so that was my hommage :)

PS: at least 4 streets are named after people, information on whom is genuinely impossible to find remotely 😱

[2022-09-06 16:15] 62mkv commented on #615
again (as with Tartu) I have no access to Settings in transferred repository

[2022-09-07 08:34] jbelien commented on #615
You loose those access when you transfer your repository.
I've created the @EqualStreetNames/tivat team and you know have admin rights again.

I'll take care of the next steps in the next few days.

[2022-09-08 08:42] #615 closed

[2022-09-08 11:40] jbelien commented on #615
🚀 Deployed on https://tivat.equalstreetnames.eu/

[2022-09-08 12:22] 62mkv commented on #615
Is it supposed to by ".MyCity" ?

![image](https://user-images.githubusercontent.com/5255127/189120594-3572cb57-83eb-483c-b850-576b4dc8104d.png)

[2022-09-08 15:19] jbelien commented on #615
That's fully under your control.
See here (or [documentation](https://github.com/EqualStreetNames/equalstreetnames-template#readme)):
- https://github.com/EqualStreetNames/equalstreetnames-tivat/blob/master/html/index.html#L9
- https://github.com/EqualStreetNames/equalstreetnames-tivat/blob/master/html/en/index.html#L11
- https://github.com/EqualStreetNames/equalstreetnames-tivat/blob/master/html/

[2022-09-09 07:48] 62mkv commented on #615
Thanks @jbelien, I must have forgotten about that!

[2022-09-24 13:13] Sequynth opened #618 "Use line-width to signal wikidata availability"
Currently, line-width and line-color are used simultaneously to indicate that the gender of the etymological figure for a streetname is known. I'd like to suggest the independent use of line-color and line-width:

line-color: dependent on the gender; gray for non-human etymology. (No change from current behaviour)

line-width: thin width when no wikidata is available; larger width, when wikidata i

[2022-09-29 13:14] FloEdelmann opened #619 "Rename `overpass/*` to `overpass/*.overpassql`"

[2022-10-01 10:28] #619 closed

[2022-10-01 10:48] jbelien commented on #619
All 48 repositories of the EqualStreetNames project have been updated! ✅

[2022-10-01 15:12] FloEdelmann commented on #619
Oh wow, that's so many!

[2022-10-11 08:38] Theklan commented on #486
Hello!
I have been out for the weekend. I think it's done, but it's my first transfer without forking. Check it, please.

Thanks

Galder
________________________________
From: Jonathan Beliën ***@***.***>
Sent: Sunday, March 27, 2022 12:13 PM
To: EqualStreetNames/equalstreetnames ***@***.***>
Cc: Theklan ***@***.***>; Mention ***@***.***>
Subject: Re: [EqualStreetNames/equalstreetnames] Add Bilbao

[2022-10-11 08:57] jbelien commented on #486
Yes, yes, no worries.

It has been merged and deployed since 28 March 2022. 👍

[2022-10-19 16:58] #354 closed

[2022-10-24 09:16] Rodeobe opened #635 "Wish to start EqualStreetNames.CapeTown"
Available here: https://github.com/Rodeobe/CapeTownEqualStreetNames

How can I get this transfered to you, the "EqualStreetNames organization"? Thx

[2022-10-24 09:20] jbelien commented on #635
Hello @Rodeobe,
Welcome to the project!

You should have received an invite to join @EqualStreetNames/cape-town
As soon as you accept that invite, you should be able to transfer your repository to @EqualStreetNames organization.

Once transferred, I'll take care of the next steps.

[2022-10-25 19:45] jbelien commented on #635
I have started the work in PR #643 but the `MAPBOX_TOKEN` is missing in the [repository secrets](https://github.com/EqualStreetNames/equalstreetnames-capetown/settings/secrets/actions).

Please add it so I can finish the integration (see [documentation](https://github.com/EqualStreetNames/equalstreetnames-template#integrate-your-city-to-the-project) if needed).

[2022-10-28 07:26] #635 closed

[2022-11-27 15:01] jbelien opened #651 "MapLibre upgrade to and drop of Mapbox baselayer"
Hello everyone,

I would like to upgrade MapLibre GL library used for the map to version 2 (see https://github.com/EqualStreetNames/module-website/pull/14).

MapLibre has dropped support for `mapbox://` scheme, meaning we need to switch to another provider for the baselayer.
I suggest we migrate to [MapTiler](https://www.maptiler.com/) that also provides access to light/dark vector tiles baselayer

[2022-11-29 18:37] RobinLinde commented on #651
Sounds like a good idea, for personal projects I've already switched to MapTiler anyway,  I've already added the token as secret.